/*Each tiles*/
.blog-post{
    .width(25%);
    .float(left);
    .relative;
    .height(auto);
    padding: 2px;

 
    @media (min-width:320px) {
         .width(100%);
    }


    @media (min-width:640px) {
         .width(50%);
    }

    @media (min-width:1024px) {
         .width(33.333%);
    }


    @media (min-width:1680px) {
         .width(25%);
    }


    &.title-blog-tile {
        .blog-post-content {
            &.shape-title-blog {
                .overflow-hidden;
                background-color: transparent;
                .width(100%);

                &:after {
                    content: "";
                    display: table;
                    clear: both;
                }

                &:before {
                    .float(left);
                    content: "";
                    padding-bottom: 100%;
                }
                
                background-position: 50% 50%;
                background-size: 100% 100%;
                background-repeat: no-repeat;
                .relative;

                @media @tablet-medium {
                    background-image: none;
                }

                &.purple-blog {
                    background-image: url('@{img-gfx}/first-shape.png');

                    @media @tablet-medium {
                        background-color: @purpleColor;
                    }
                }

                &.grey-blog {
                    background-image: url('@{img-gfx}/first-shape-grey.png');

                    @media @tablet-medium {
                        background-color: @greyColor;
                    }
                }


                 &.green-blog {
                    background-image: url('@{img-gfx}/first-shape-green.png');

                    @media @tablet-medium {
                        background-color: @greenColor;
                    }
                }


                &.orange-blog {
                    background-image: url('@{img-gfx}/first-shape-orange.png');

                    @media @tablet-medium {
                        background-color: @orangeColor;
                    }
                }

                

                .title-inner {
                    color: #fff;
                    max-height: 100%;
                    max-width: 500px;
                    .width(70%);
                    .top(40%);
                    .right(15px);
                    .absolute;

                     @media @tablet-medium {
                        .top(50%);
                        .left(50%);
                        .translate(-50%, -50%);
                        .width(90%);
                     }

                    .blog-inner-header {
                        .center-align;
                         font-size: 2.2rem;

                         @media @desktop-max {
                            font-size: 2.0rem;
                         }

                         @media @tablet-medium{
                            font-size: 2.4rem;
                         }
                    }
                }

            }
        }
    }

    .blog-post-link {
        .block;
        .relative;
        .overflow-hidden;
        .transition(all,.3s, linear);

        .blog-post-content {
            .relative;
            .width(100%);
            .overflow-hidden;

            &:after {
                content: "";
                display: table;
                clear: both;

            }

            &:before {
                .float(left);
                content: "";
                padding-bottom: 100%;

            }

            &.blog-link-img {
                .background-size;
                background-repeat: no-repeat;
                 .transition(all,.3s, linear);

                &.img-one {
                     background-image: url('@{img-gfx}/img-one.png');
                }

                &.img-two {
                     background-image: url('@{img-gfx}/img-two.png');
                }

                &.img-three {
                     background-image: url('@{img-gfx}/img-three.png');
                }

                &.img-four {
                     background-image: url('@{img-gfx}/img-four.png');
                }

                 &.img-five {
                     background-image: url('@{img-gfx}/video-1.jpg');
                }

                &.img-six {
                     background-image: url('@{img-gfx}/video-2.jpg');
                }

                 &.img-seven {
                     background-image: url('@{img-gfx}/video-3.jpg');
                }

                 &.img-eight {
                     background-image: url('@{img-gfx}/video-4.jpg');
                }
            }

            .mask-blog {
                .top(0);
                .left(0);
                .width(100%);
                .height(100%);
                .absolute;
                .z-index(80);
                background: rgba(0,0,0,0.5);
            }

            .mask-video {
                .top(0);
                .left(0);
                .width(100%);
                .height(100%);
                .absolute;
                .z-index(80);
                background-repeat: no-repeat;
                background-color: rgba(0,0,0,0.5);
                background-position: 50% 50%;
                background-image: url('@{img-gfx}/play-button.svg');
                background-size: 25% auto;
            }

            .blog-inner-content {
                .absolute;
                .center-align;
                color: @whiteColor;
                .z-index(100);
                .scale(1);
                .translate(-50%, -50%);
                .top(50%);
                .left(50%);
                .width(88%);
                max-width: 40rem;

                .date-content {
                    .inline-block;
                    padding: 8px 26px;
                    color: @whiteColor;
                    .center-align;
                    border: 1px solid @whiteColor;
                    font-weight: 800;
                    margin-bottom: 15px;
                }

                .blog-header {

                    @media (min-width:320px) {
                        font-size: 1.8rem;
                    }

                    @media (min-width:480px) {
                        font-size: 2.0rem;
                    }

                    @media (min-width:768px) {
                        font-size: 1.8rem;
                    }

                     @media (min-width:1680px) {
                        font-size: 2.0rem;
                    }


                    span {
                        .block;
                    }
                }

            }
  
        }

        &:hover {
            .blog-post-content {
                .scale(1.1);
            }
        }
    } 
}