.page-container {
	.page-inner {
		.main-page-content {
			.download-section-wrapper {

				max-width: 96rem;
                .width(100%);
                .overflow-hidden;
                .margin-auto;
				


                .downloads-inner,
				#category-filter-section 
				{
                        .overflow-hidden;
                        .margin-auto;
                        .width(100%);

                        .download-section-area,
						.download-post
                         {

                            .width(33.333%);
                            .float(left);
                            padding: 20px;
                            .relative;

                            @media @mobile {
                                .width(100%);
                                .float(none);
                            }

                            &:nth-child(3n+3) {
                                margin-right: 0;
                            }


                            &:last-child {
                                margin-bottom:0
                            }

                            .sdm_post_download_section {
                                margin: 0 !important;
                            }

                            .sdm_post_item_top_right {
								float: none !important;
								.width(100%);
								overflow: hidden;
                            }

                            .sdm_post_item {
                            	.width(100%);
                            }

                            .sdm_download_link {
                                	font-size: 1.4rem;
                                	line-height: 1.2;
                                }

                                .downloadForm {
                                	margin-top: 5px;

                                	.pass_sumbit {
                                		margin-top: 10px;
                                		.block;
                                		.width(100%);
                                	}

                                	.inputPassword {
										.block;
										.width(80%);
										.height(26px);
										line-height: 24px;
										padding: 5px;

                                	}
                                }

                            .sdm_download {
                                margin:10px auto;
                                border: none !important;
                                border-radius: 0 !important;
                                text-shadow:none !important;
                                font-family: @fontRegular;
                                .center-align;
                                font-weight: 800;
                                font-size: 1.4rem;
                                .width(100px);
                                .block;
                                .height(35px);
                                line-height: 35px;
                                color: @whiteColor !important;
                                padding: 0 10px !important;

                                &.white {
                                    background: @greenColor !important;
                                    text-shadow:none !important;
                                    box-shadow: none !important;
                                    color: @whiteColor;

                                }
                            }

                             .download-wrapp {
                                margin-bottom:5px;
                                .width(100%);
                                display: table;
                                .relative;

                                .icon-pdf {
                                    .width(70px);
                                    .height(70px);
                                    background-size: 90% auto;
                                    background-position: 50% 50%;
                                    background-repeat: no-repeat;
                                    display: table-cell;
                                }

                                .link-wrapper {
                                    padding-left: 15px;
                                    display: table-cell;
                                    vertical-align: middle;
                                    line-height: 1.4;

                                    a {
                                        color: @greyColor;
                                        text-decoration: underline;
                                    }

                                }
                            }
                        }

                       

                        .download-item {
                            .width(33.333%);
                            .float(left);
                            padding: 15px;

                            @media @mobile {
                                .width(100%);
                                .float(none);
                            }

                            &:nth-child(3n+3) {
                                margin-right: 0;
                            }

                            .download-ico {
                                .margin-auto;
                                .center-align;
                                margin-bottom: 15px;
                                .width(70px);
                                .height(70px);
                                background-size: 100% auto;
                                background-image: url('@{img-gfx}/download-pdf.png');
                                background-repeat: no-repeat;
                            }

                            .download-link {
                                .block;
                                color: @greyColor;
                                .center-align;
                                text-decoration: underline;
                            }
                        }
                    }

				.category-filter-list {
					display: flex;
					flex-wrap: wrap;
				    flex-direction: row;
				    justify-content: center;

				    .list-reset;

				    list-style: none !important;
				    padding:0 !important;
				    margin-bottom: 0 0 15px 0 !important;

				    @media @tablet-small {
				    	 flex-direction: column;
				    }


					li {
						cursor: pointer;
						padding: 1.2rem 1.5rem;
				    	line-height: 2.4rem;
				    	color: @whiteColor;
				    	margin: 0 5px;
				    	flex: 0 1 auto;
				    	.block;
				    	


				    @media @tablet-small {
				    	 margin-bottom: 10px;
				    }


				    	list-style-type: none !important;
				    	

				    	&.purple-d-btn {

                            background-color: @purpleColor;

                            &.all-btn {
                                background-color: fade(@purpleColor, 70%);
                            }
				    		
				    		&.mixitup-control-active {
								background-color: fade(@purpleColor, 70%);
				    		}
				    	}

				    	&.green-d-btn {

                            background-color: @greenColor;

                            &.all-btn {
                                background-color: fade(@greenColor, 70%);
                            }
				    		
				    		&.mixitup-control-active {
								
                                background-color: fade(@greenColor, 70%);
				    		}
				    	}

				    	&.orange-d-btn {

                            background-color: @orangeColor;

                            &.all-btn {
                                 background-color: fade(@orangeColor, 70%);
                            }
				    		
				    		&.mixitup-control-active {
								
                                background-color: fade(@orangeColor, 70%);
				    		}
				    	}

					}
				}

				#category-filter-section {
					margin-top: 40px;
				}

			}
		}
	}
}



