// FEATURES LESS



.main-features {
	.group-clearfix;
	.width(100%);
	.overflow-hidden;

	&.features-ipaye {
		color: @purpleColor;
	}

	.header-item {

		.float(left);
		
		.overflow-hidden;
		.relative;

		@media (min-width:320px) {
			.width(100%);
			padding-bottom:100%;
		}

		@media (min-width:480px) {
			.width(100%);
			padding-bottom:80%;
		}

		@media (min-width:641px) {
			.width(50%);
			padding-bottom:50%;
		}

		@media (min-width:992px) {
			.width(50%);
			padding-bottom:40%;
		}


		@media (min-width:1170px) {
			padding-bottom:35%;
		}


		@media (min-width:1280px) {
			.width(25%);
			padding-bottom: 30%;
		}

		@media (min-width:1680px) {
			.width(25%);
			padding-bottom: 25%;
		}

		.rotator-circle-bck {
			.absolute;
			background: @greenColor;
			color: @whiteColor;
			padding: 0;
			.top(50%);
			.left(50%);
			.translate(-50%, -50%);
			border-radius: 50%;
			-webkit-border-radius: 50%;

			@media (min-width:320px) {
				.width(26rem);
				.height(26rem);
			}

			@media (min-width:641px) {
				.width(28rem);
				.height(28rem);
			}

			@media (min-width:992px) {
				.width(24rem);
				.height(24rem);
			}

			@media (min-width:1279px) {
				.width(21rem);
				.height(21rem);
			}


			@media (min-width:1400px) {
				.width(22rem);
				.height(22rem);
			}


			@media (min-width:1680px) {
				.width(24rem);
				.height(24rem);
			}

			@media (min-width:1920px) {
				.width(30rem);
				.height(30rem);
			}


			.owl-carousel {
                .block;
                .width(100%);
                .height(100%);

                &.grid-rotator {

                    .grid-slide {
                        padding: 20% 10% 0% 10%;
                        
                        .relative;
                        .center-align;

                        .header-rotator-grid {
                            .center-align;
                            margin-bottom: 5px;
                            .font-medium(@mediumFont, 2.0rem);

                          @media (min-width:320px) {
                          	.font-medium(@mediumFont, 2.2rem);
                          }

                          @media (min-width:992px) {
                          	.font-medium(@mediumFont, 2.0rem);
                          }

                          @media (min-width:1280px) {
                          	.font-medium(@mediumFont, 1.8rem);
                          }

                           @media (min-width:1680px) {
                          	.font-medium(@mediumFont, 2.0rem);
                          }

                           @media (min-width:1920px) {
                          	.font-medium(@mediumFont, 2.4rem);
                          }

                            span {
                                .block;
                            }
                        }

                        .rotator-currency {
                             .font-bold(@boldFont, 2.8rem);
                             .block;
                             margin-bottom: 5px;
                             .center-align;
                             line-height: 1.2;

                             @media @desktop {
                                .font-bold(@boldFont, 2.8rem);
                            }

                            @media @desktop-large {
                                .font-bold(@boldFont, 3.0rem);
                            }

                            @media @desktop-tv {
                                .font-bold(@boldFont, 4.2rem);
                            }
                        }
                    }

                    .owl-dots {
                        .center-align;
                         .overflow-hidden;
                         .width(100%);
                         .absolute;
                         .bottom(15px);
                         .z-index(99999);

                         .owl-dot {

                            .inline-block;
                                span {
                                  border-radius:50%;
                                  background: @whiteColor;
                                  .width(10px);
                                  .height(10px);
                                  margin:7px 5px;
                                  .block;
                            }
                        }
                    }
                }
            }
		}

		&.grouped-item {

			@media (min-width:320px) {
				.width(100%);
			}

			@media (min-width:1280px) {
				.width(50%);
			}

			@media @laptop-max {
				padding: 0;
				.center-align;
				min-height: 120px;

			}


			.double-size-inner {
				.left(0);
				.top(50%);
				.absolute;
				.translate(0, -50%);
				.width(100%);

				@media @laptop-max {
					padding: 20px 0;
					.top(0);
					.left(0);
					.translate(0,0);

				}

				.slogan-inner {
					.relative;
					padding-left:20px;
					max-width: 600px;

					@media @laptop-max {
						.center-align;
						.margin-auto;
						padding: 0;
					}

					.slogan-inner-header {
						font-weight: 900;
						font-size: 2.8rem;
						.left-align;

						@media (min-width:1680px) {
							font-size:3.2rem;
						}

						@media @laptop-max {
							.center-align;
						}

						@media @mobile {
							font-size: 2.2rem;
						}

						span{
							.block;
							@media @laptop-max {
								.inline-block;
								
							}
						}
					}
				}
			}
		}

		.content-inside {
			.absolute;
			.top(50%);
			.left(50%);
			.translate(-50%,-50%);
			.width(100%);
			.center-align;
		}

		.header-features-inside {
			.center-align;
			font-size: 2.2rem;
			font-weight: 800;

			@media (min-width:320) {
				font-size: 2.2rem;
			}

			@media (min-width:1680px) {
				font-size: 2.4rem;
			}

			span {
				.block;
			}
		}

		.icon-header {
			.margin-auto;
			.center-align;
			margin-bottom: 10px;

			img {
				max-width: 100%;
				.margin-auto;
				.center-align;
				.height(auto);
				max-height: 140px;
			}

		}
	}
}