.footer-grid {
	padding: 20px 30px 20px 30px;
	background: @whiteColor;
	.overflow-hidden;

	&.footer-scroll-page
	
	 {
		.fixed;
		.bottom(0);
		.left(30%);
		.right(0);
		.transition(all,.4s, cubic-bezier(0.175, 0.885, 0.32, 1));
		.translate(0,100%);
		.z-index(119);


		@media @tablet-medium {
			.bottom(auto);
			.left(auto);
			.relative;
			.right(auto);
			.translate(0,0) !important;
			padding: 0 30px;
		}
	}

	&.footer-scroll-grid {
		.fixed;
		.bottom(-100%);
		.left(30%);
		.right(0);
		.z-index(119);

		@media @tablet-medium {
			bottom: 0 !important;
			.left(auto);
			.relative;
			.right(auto);
			.translate(0,0) !important;
			padding: 0 30px;
		}


	}

	&.footer-blog,
	&.footer-video
	 {
		.fixed;
		.bottom(-100%);
		.left(30%);
		.right(0);
		.z-index(119);

		@media @tablet-medium {
			bottom: 0 !important;
			.left(auto);
			.relative;
			.right(auto);
			.translate(0,0) !important;
			padding: 0 30px;
		}
	}

	@media @tablet-medium {
		position: relative;
	}

	img {
		max-width: 100%;
		height: auto;
		vertical-align: middle;
		}

	.footer-inner-grid {
		.relative;
		.width(100%);

		@media @tablet-medium {
			padding-bottom: 40px;
		}

		.company-logos-set {
			.list-reset;
			.center-align;
			.overflow-hidden;
			line-height: 0;
			font-size: 0;
			.width(100%);

			li {
				
				
				@media (min-width:320px) {
					.width(90%);
					.block;
					.margin-auto;
					padding: 10px;
				}

				@media (min-width:640px) {
					.width(50%);
					.inline-block;
					vertical-align: middle;
					line-height: 1;
					font-size: 1.6rem;
				}

				@media (min-width:768px) {
					.width(33.333%);
				}

				@media (min-width:1280px) {
					.width(16.666%);
				}


				img {
					.width(auto);
					max-height: 60px;

					@media @laptop-max {
						max-height: 40px;
					}
				}
			}
		}

		.bottom-footer-wrapper {
			padding:10px 15px;
			.margin-auto;
			margin-top: 20px;
			max-width: 1400px;
			.center-align;
			.overflow-hidden;


			p,
			.footer-menu-list {
				font-size: 1.2rem;
				color:@greyColor;

				a,
				span {
					font-size: inherit;
					color: inherit;
				}
			}

			.copyright-note,
			.footer-menu-list,
			.company-link {
				.inline-block;

				@media @tablet-medium {
					.block;
					margin-bottom: 10px;
				}
			}

			.company-link {
				@media @tablet-medium {
					margin-bottom: 0;
				}
			}

			.footer-menu-list {
				.list-reset;
				line-height: 0;
				font-size: 0;
				margin: 0 15px;

				@media @tablet-medium {
					margin-bottom: 10px;
				}

				li {
					font-size: 1.2rem;
            		line-height: 1;
            		.inline-block;
            		margin: 0 5px;
            		.relative;
            		padding: 5px;

            		@media @tablet-medium {
						.block;
						margin-bottom: 10px;
					}

            		&:before {
	               		.content;
	               		.height(10px);
		               	.width(1px);
		               	background-color: @greyColor;
		               	.left(-7px);
		               	.absolute;
		               	.top(7px);

		               	@media @tablet-medium {
		               		.none;
		               	}
            		}

            		&:first-child {
		               &:before {
		                  .none;
		               }
			        }
				}
			}
		}
	}
}