.contact-form-panel {
    .width(30%);
    .height(100%);
    .bottom(0);
    .fixed;
    .translate(-100%,0);
    .left(0);
    .z-index(400);
    .top(0);
    background: @whiteColor;
    .transition(all,.4s,ease-in-out);

    &.opened-contant-panel {
         .translate(0,0);
    }



    .panel-contact-header {
        .z-index(500);
        .absolute;
        .width(100%);
        .top(0);
        .left(0);
        .height(80px);

        .close-panel-btn {
            background-image: url('@{img-gfx}/close-panel.svg');
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: 50% auto;
            .width(50px);
            .height(50px);
            .center-align;
            cursor: pointer;
            .right(40px);
            .top(50%);
            .translate(0,-50%);
            .absolute;
        }
    }

    .bottom-contact-footer {
        .z-index(500);
        .absolute;
        .width(100%);
        .bottom(0);
        .left(0);
        .height(80px);

        @media @mobile {
            .none;
        }

        .bottom-social-list {
            .center-align;
            .overflow-hidden;
            font-size: 0;
            line-height: 0;
            .relative;
            .top(50%);
            .translate(0,-50%);

            li {
                .inline-block;
                font-size: 1.6rem;
                line-height: 1;
                margin: 0 4px;

                a {
                    .block;
                    .width(34px);
                    .height(28px);
                    background-position: 50% 50%;
                    background-repeat: no-repeat;
                    background-size: 100% 100%;
                }
            }

            &.white-purple-socials {

                li {
                    a {
                        &.twitter-purple {
                             background-image: url('@{img-gfx}/twitter-purple.svg');
                        }

                        &.linked-purple {
                            background-image: url('@{img-gfx}/linked-purple.svg');
                        }

                        &.google-purple {
                            background-image: url('@{img-gfx}/google-purple.svg');
                        }
                    }
                }
            }
        }
    }

    &.purple-contant-panel {
        background: @purpleColor;

        .main-contant-form {
            .contact-form {

                div.wpcf7-mail-sent-ok {
                    border-color: @whiteColor !important;
                }

                div.wpcf7-validation-errors {
                    border-color: @whiteColor !important;
                }

                span.wpcf7-not-valid-tip {
                    color: @whiteColor !important;
                }

                input:not(.send-btn), 
                textarea {

                    border: 1px solid @whiteColor;
                    color: @whiteColor;
                    box-shadow:none !important;
                    -webkit-box-shadow:none !important;

                } 
            }
        }

        .panel-contact-inner {
            .panel-contact-title{
                color: @whiteColor;
            }
        }


            ::-webkit-input-placeholder {
                color: @whiteColor;
                     .font-regular(@fontRegular,1.4rem);
                }

            ::-moz-placeholder {
                color: @whiteColor;
                .font-regular(@fontRegular,1.4rem);
                opacity: 1;
            }

            :-ms-input-placeholder {
                color: @whiteColor;
                .font-regular(@fontRegular,1.4rem);
            }

            .send-btn {
                color:@whiteColor;
                font-weight: 700;
                background: @greenColor;
                .float(right);
                border-radius: 0 !important; 
                -webkit-border-radius: 0 !important; 
            }   
    }


     @media @desktop {
            .width(30%); 
        }

        @media @desktop-large {
            .width(30%); 
        }

 
         @media @tablet-large {
            .width(30%);
        }

        @media @tablet-medium {
            .width(100%);
        }

    .panel-contact-inner {
        overflow-y: auto;
        overflow-x: hidden;
        .left(0);
        .top(70px);
        .bottom(70px);
        .z-index(100);
        .absolute;
        .width(100%);
        padding:0;
        .translate(0,0);

        @media (min-width:1680px) {
            .translate(0, -50%);
            .top(50%);
            .bottom(auto);
        }

        @media @mobile {
            .top(70px);
            .bottom(20px);
            .fixed;
        }

        .panel-contact-title {
            color: @greyColor;
            .center-align;
            margin-bottom:10px;
            font-size: 2.0rem;

        }
    }
}


/*Contact forms*/
.main-contant-form {
    .margin-auto;
    .width(90%);
    max-width:70rem;

    @media @mobile {
        .width(80%);
    }
}


.contact-form {
    .overflow-hidden;
     .width(100%);

     .spacer-wrapper {
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0px;
        }
     }

        div.wpcf7-mail-sent-ok {
            border-color: @greyColor !important;
        }

        div.wpcf7-validation-errors {
            border-color: #e60016 !important;
        }

        span.wpcf7-not-valid-tip {
            color: #e60016 !important;
        }


        input, 
        textarea {
            background-color:transparent;
            border: 1px solid @greyColor;
            box-shadow:none !important;
            color: @greyColor;
            .height(34px);
            .width(100%);
            .block;
            border-radius:0;
            line-height: 34px;
            padding:0 10px;
            .font-regular(@fontRegular,1.4rem);

            &:focus {
                outline:none;
                border:1px solid @greyColor;
            }
        }

        textarea {
            min-height:100px;
            padding: 10px;
            line-height: 1.4;
            .font-regular(@fontRegular,1.4rem);
        }



        .send-btn {
            .inline-block;
            padding: 0 20px;
            cursor: pointer;
            .center-align;
            font-size: 1.6rem;
            color: @whiteColor;
            background-color: @greenColor;
            .height(40px);
            line-height: 38px;
            width: 140px;
            text-transform: uppercase;
            border-radius: none !important;
            .float(right);
            border-color: @greenColor;

        }


        ::-webkit-input-placeholder {
            color: @greyColor;
                 .font-regular(@fontRegular,1.4rem);
            }

        ::-moz-placeholder {
            color: @greyColor;
            .font-regular(@fontRegular,1.4rem);
            opacity: 1;
        }

        :-ms-input-placeholder {
            color: @greyColor;
            .font-regular(@fontRegular,1.4rem);
        }
}

.enquiry-text {
    .width(100%);
    max-width: 40rem;
    margin: 0 auto 20px auto;
    .overflow-hidden;
    padding: 0 30px;

    p {
        color: @whiteColor;
        .center-align;
    }
}





