
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

          
html {
	font-size: 62.5%;
    .box-sizing;
    background-color: @purpleColor;
    overflow-y: scroll;
    

    &.no-scroll {
        overflow-y: hidden;
    }


    &.overflow-hidden {
        overflow: hidden;
        .height(100%);
    }
}

audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;
}

html.no-flexbox .flex-wrapper{
  display: table;
}

html.no-flexbox .flex-item {
  display: table-cell;
}


html,body {
    .width(100%);
    .relative;
}


body {

    overflow-x:hidden;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;

    font-size: @regularSize;
    font-family: @fontRegular;
    font-weight: 400;
    color: @greyColor;
    .body-reset;
    opacity: 0;
    line-height: 1.589;
    background: @whiteColor;

    &.overflow-hidden {
        overflow: hidden;
        .height(100%);
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: @boldFont;
    line-height: 1.2;
    font-weight: 900;
}


svg:not(:root) {
    .overflow-hidden;
}



*, *:before, *:after {
    -moz-box-sizing: inherit;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}


.clearfix {
    &:before,
    &:after {

        .table;
        content: "";
        .height(0);
        line-height: 0;

    }

    &:after {
        clear: both
    }
}


.owl-carousel .owl-stage-outer {
        overflow: hidden;
        position: relative;
        width: 100%;
        z-index: 1;  /* added this */

   -webkit-transform-style:preserve-3d !important;
    -moz-transform-style:preserve-3d !important;
    transform-style:preserve-3d !important;
}


.owl-item { 
  transform: translateZ(0);
 -webkit-transform: translateZ(0); 
 -ms-transform: translateZ(0); 
}


/* Feel free to change duration  */ 
.animated  {
  -webkit-animation-duration : 800 ms  ;
  animation-duration : 800 ms  ;
  -webkit-animation-fill-mode : both  ;
  animation-fill-mode : both  ;
}  
/* .owl-animated-out - only for current item */ 
/* This is very important class. Use z-index if you want move Out item above In item */ 
.owl-animated-out {
  z-index : 1 
   }
/* .owl-animated-in - only for upcoming item
/* This is very important class. Use z-index if you want move In item above Out item */ 
.owl-animated-in {
  z-index : 0 
   }
/* .fadeOut is style taken from Animation.css and this is how it looks in owl.carousel.css:  */ 

.fadeOut  {
  -webkit-animation-name : fadeOut  ;
  animation-name : fadeOut  ;
}  
@-webkit-keyframes  fadeOut  {
  0% {
    opacity : 1;
  }


  100% {
    opacity : 0   ;
  } 

}


@keyframes  fadeOut  {
  0% {
    opacity : 1   ;
  } 

  100% {
    opacity : 0   ;
  }  
}



#overlay {
    .fixed;
    .top(0);
    .left(0);
    .z-index(990);
    .width(100%);
    .height(100%);
    background: fade(@whiteColor, 85%);
}

#ipaye-bck-orange,
#ipaye-bck-green,
#ipaye-bck
 {
    @media @tablet-large {
        .none;
    }
}

/*PRELOADER STYLES*/
#preloader {
    .block;
    .fixed;
    .width(50px);
    .height(50px);
    .top(50%);
    .left(50%);
    margin: -25px 0 0 -25px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: @purpleColor;

    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;

    &:before {
        .content;
        .absolute;
        .top(5px);
        .left(5px);
        .right(5px);
        .bottom(5px);
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: @greenColor;

        -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 2s linear infinite;
    }

    &:after {
        .content;
        .absolute;
        .top(15px);
        .left(15px);
        .right(15px);
        .bottom(15px);
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: @orangeColor;

        -webkit-animation: spin 1.0s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
        animation: spin 1.0s linear infinite;
    }
}




/*HEADERS*/
.main-title-panel-left {
    margin-bottom: 15px;

    &.purple-header-left {
        color: @purpleColor;
    }

    &.orange-header-left {
        color: @orangeColor;
    }

    &.green-header-left {
        color: @greenColor;
    }

    @media (min-width:320px) {
        font-size: 2.4rem;
    }

    @media (min-width:992px) {
        font-size: 2.6rem;
    }

    @media @desktop-large {
        font-size: 2.8rem;
    }
}


/*CONTENT BUTTONS*/

.btn-back-wrapper {
  overflow: hidden;
  width: 100%;
  
    .move-home {
        &.move-purple {
          .float(left);
        }

        &.move-green {
          .float(right);
        }

        @media @mobile {

            .block;

             &.move-purple {
              .float(none);
              margin-bottom: 15px;
            }

            &.move-green {
              .float(none);
            }
        }
    }
}

.move-home,
.download-button,
.filter-btn
 {
  .inline-block;
  position: relative;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: @whiteColor;
  padding: 12px 28px;
 
  &.move-purple {
    background: @purpleColor;
  }

  &.move-orange {
    background: @purpleColor;
  }

 &.move-green {
    background: @greenColor;
  }

}

.filter-btn {
  background: @greyColor;
}


/*CTA BUTTONS*/
.map-link {
    color: @greyColor;
    .block;
    margin: 10px 0;
}
.cta-btn {
    .inline-block;
    .center-align;
    line-height: 1.5;
    font-size: 1.5rem;
    min-width: 140px;
    padding: 1.125rem 1.875rem;
    .font-medium(@mediumFont,1.5rem);
    .relative;
    .transition(all, .3s, linear);

    @media @tablet {
         font-size: 1.4rem;
    }

    &.tiles-rotator-btn {
        font-size: 1.4rem; 
        padding: 4px 18px;
        min-width: 100px;
    }

    &.white-btn {
        color: @whiteColor;
        border: 1px solid @whiteColor;

         @media @tablet-large {
            color: @purpleColor;
            background: @whiteColor;
         }


        &:hover,
        &:active {
            color: @purpleColor;
            background: @whiteColor;

            @media @tablet-large {
                  color: @purpleColor;
            }
        }

    }

    &.orange-btn {
        color: @whiteColor;
        border: 1px solid  @orangeColor;
        background: @orangeColor;

         @media @tablet-large {
            color: @whiteColor;
            background: @orangeColor;
         }


        &:hover,
        &:active {
            color: @whiteColor;
            background: @orangeColor;

            @media @tablet-large {
                  color: @whiteColor;
            }
        }

    }

    &.slide-btn {
        margin-top: 15px;
        opacity: 1;
        .translate(0,15px);
    }
}

.tile-cta {

    .inline-block;
    .center-align;
    font-size: 1.4rem; 
    padding: 1.0rem 1.5rem;
    line-height: 1;
    min-width: 100px;
    .font-medium(@mediumFont,1.4rem);
    .relative;
    .transition(all, .2s, linear);


    @media @desktop-large {
        
        min-width: 120px;
        padding: 8px 26px;
        .font-medium(@mediumFont,1.4rem);
    }

    @media @desktop-max {
       font-size: 1.2rem; 
      padding: 0.8rem 1.2rem;
    }

    &.tile-purple-cta {
        color: @purpleColor;
        border: 1px solid @purpleColor;


        &:hover,
        &:active {
            color: @whiteColor;
            background: @purpleColor;
        }
    }


    &.tile-white-cta {
        color: @purpleColor;
        border: 1px solid @purpleColor;

        &:hover,
        &:active {
            color: @whiteColor;
            background: @purpleColor;
        }
    }


    &.tile-green-cta {
        color: @greyColor;
        border: 1px solid @greyColor; 

        &:hover,
        &:active {
            color: @whiteColor;
            background: @greyColor; 
        }
    }


    &.tile-orange-cta {
        color: @greyColor; 
        border: 1px solid @greyColor;  

        &:hover,
        &:active {
            color: @whiteColor;
            background:@greyColor; 
        }
    }


    &.tile-btn-right {
        
        .left(40%);
        .top(50%);

         @media @desktop-max {
            .left(50%);
            .top(50%);
            .translate(-50%,-50%);
         }

          @media @desktop {
            .left(30%);
        }

         @media @desktop-large {
            .left(32%);
         }

         @media @desktop-tv {
            .left(38%);
         }

        
    }

    &.btn-middle-left {
         .left(20%);
         .top(50%);

         @media @desktop-max {
            .left(50%);
            .top(50%);
            .translate(-50%,-50%);
         }


          @media @desktop {
            .left(20%);
        }

         @media @desktop-large {
            .left(22%);
         }

         @media @desktop-tv {
            .left(26%);
         }
    }

    &.btn-middle-right {

        .left(40%);
        .top(40%);


         @media @desktop {
            .left(32%);
        }

         @media @desktop-large {
            .left(34%);
         }

         @media @desktop-tv {
            .left(38%);
         }


        @media @desktop-max {
            .left(50%);
            .top(50%);
            .translate(-50%,-50%);
         }
    }
}

/*HEADERS*/
.slide-header {
    .font-bold(@boldFont, 3.2rem);
    margin-bottom:10px;
    opacity: 1;
    .translate(0,0);
    span {
        .block;
    }

    @media @desktop {
        .font-bold(@boldFont, 3.6rem);
    }

    @media @desktop-normal {
        .font-bold(@boldFont, 3.2rem);
    }

    @media @desktop-large {
         .font-bold(@boldFont, 4.6rem);
    }

    @media @mobile {
       .font-bold(@boldFont, 2.0rem); 
    }
}

.right-column-home-header {
  .slide-header-right {
    .font-bold(@boldFont, 3.2rem);
    margin-bottom:10px;

    span {
        .block;
        @media @tablet-large {
          .inline-block;
        }
    }

    @media @desktop {
        .font-bold(@boldFont, 3.6rem);
    }

    @media @desktop-normal {
        .font-bold(@boldFont, 3.2rem);
    }

    @media @desktop-large {
         .font-bold(@boldFont, 4.6rem);
    }

    @media @mobile {
       .font-bold(@boldFont, 2.0rem); 
    }
  }

    .slide-sub-header {
        .font-bold(@boldFont, 2.2rem);

            @media @desktop {
                .font-bold(@boldFont, 2.2rem);
            }

        @media @desktop-normal {
            .font-bold(@boldFont, 2.0rem);
        }

        @media @desktop-large {
             .font-bold(@boldFont, 1.8rem);
        }

        @media @mobile {
           .font-bold(@boldFont, 1.6rem); 
        }
    }


}


p {
    padding: 0;
    margin: 0;
}

video {
    object-fit: contain;
}

a {
    text-decoration: none;
     outline: none !important;
}

img {
    outline: none !important;
    max-width: 100%;
    height: auto;
}

svg {
  max-width: 100%;
}


ul, ol {
    .list-reset;
}

.img-responsive {
    height: auto;
    max-width: 100%;
    display: block;

    @media @tablet {
        .width(100%);
    }
}

/*POP-UP SETTINGS*/
.mfp-bg {
    background: #03080f;
    cursor: pointer;
    z-index: 1040;
}

button.mfp-close, button.mfp-arrow {
    display: block;
    color: #fff;
    border: 1px solid #fff;
    z-index: 999999;
}

button.mfp-arrow {
   border: none;
}

.mfp-close,
.message-popup > button.mfp-close
 {
  color: #fff;
  right:30px;
  top: 0px;
  opacity: 1;
  width: 45px;
  height: 45px;
  line-height: 45px;
  cursor: pointer;
  position: fixed;
}

.mfp-close:active,
.message-popup > button.mfp-close:active {
  top: 0px;
}

.mfp-close-btn-in .mfp-close {
  color: #fff;
}

.message-popup {
    background-color: #fff;
    color: #000;
    max-width: 500px;
    text-align: center;
    position: relative;
    z-index: 999999;
    margin: 0 auto;
    padding: 40px;
}



 .mfp-fade.mfp-bg {
        opacity: 0;
        -webkit-transition: all 0.3s ease-out; 
        -moz-transition: all 0.3s ease-out; 
        -ms-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
      }
      .mfp-fade.mfp-bg.mfp-ready {
        opacity: 0.9;
      }
      .mfp-fade.mfp-bg.mfp-removing {
        opacity: 0;
      }
      .mfp-fade.mfp-wrap .mfp-content {
        opacity: 0;
        -webkit-transition: all 0.3s ease-out; 
        -moz-transition: all 0.3s ease-out; 
        -ms-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
      }
      .mfp-fade.mfp-wrap.mfp-ready .mfp-content {
        opacity: 1;
      }
      .mfp-fade.mfp-wrap.mfp-removing .mfp-content {
        opacity: 0;
      }


.close-modal {
    display: inline-block;
    padding:0 20px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border: 1px solid #fff;
    text-transform: uppercase;
    font-size: 1.6rem;
    background-color: transparent;
    color: #fff;
    
}

.mfp-arrow-left .mfp-b, .mfp-arrow-left::before {
    border-right: 27px solid #fff;
    margin-left: 25px;
}
.mfp-arrow .mfp-b, .mfp-arrow::before {
    border-bottom-width: 21px;
    border-top-width: 21px;
    opacity: 1;
}


.mfp-arrow-right .mfp-b, .mfp-arrow-right::before {
    border-left: 27px solid #fff;
}
.mfp-arrow .mfp-b, .mfp-arrow::before {
    border-bottom-width: 21px;
    border-top-width: 21px;
    opacity:1;
}




/*ANIMATIONS*/
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}



@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;

  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;

}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;

   -webkit-animation-delay: 0.5s; /* Safari 4.0 - 8.0 */
    animation-delay: 0.5s;
}

.animated {
   -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

.animated1 {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
}



@keyframes slideOutDown {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(0, 100%, 0);
  }
}


@-webkit-keyframes slideOutDown {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(0, 100%, 0);
  }
}




.slideOutDown {
  animation-name: slideOutDown;
  -webkit-animation-name: slideOutDown;
}



@keyframes flipInX {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    transform: perspective(400px);
  }
}


@-webkit-keyframes flipInX {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    transform: perspective(400px);
  }
}

.flipInX {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  animation-name: flipInX;
  -webkit-animation-name: flipInX;
}




@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}


@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
    -webkit-transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
   -webkit-animation-name:fadeInUp;
}



@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}


@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
    -webkit-transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInDown {
  animation-name: fadeInDown;
  -webkit-animation-name:fadeInDown;
}



/*ANIMATIONS*/
@-webkit-keyframes spin {
    0%   { 
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   { 
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}



