.center-text {
	text-align: center;
}

.center-wrapper {
	margin:0 auto;
	max-width:1240px;
	position: relative;
}

.center-wrapper-fluid,
.center-wrapper-padding
 {
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
}

.center-wrapper-padding:before,
.center-wrapper-padding:after {
	content:"";
	display: table;
}

.center-wrapper-padding:after {
	clear: both;
}

.center-wrapper-fluid > .grid-wrapper .grid-item {
	padding: 0;
}

.center-wrapper-wide > .grid-wrapper .grid-item {
	padding: 1.0rem;
}

.grid-wrapper {
    *zoom: 1;
}



.grid-wrapper:after,
.grid-wrapper:before {
	display: table;
	content: "";
	line-height: 0;
	height: 0;
}


.grid-wrapper:after {
	clear: both;
}

.row {
	margin-right: -1.5rem;
	margin-left: -1.5rem;
	.overflow-hidden;
}

.grid-item{
	float:left;
	box-sizing:border-box;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

.sx-1 {
	 width: 8.33333333%;
}


.sx-2 {
	width: 16.66666667%;
}

.sx-3 {
	width: 25%;
}

.sx-4 {
	width: 33.33333333%;
}

.sx-5 {
	  width: 41.66666667%;
}


.sx-6 {
	 width: 50%;
}

.sx-7 {
	 width: 58.33333333%;
}


.sx-8 {
	 width: 66.66666667%;
}

.sx-9 {
	 width: 75%;
}

.sx-10 {
	 width: 83.33333333%;
}


.sx-11 {
	width: 91.66666667%;
}

.sx-12 {
	 width: 100%;
}


@media only screen and (min-width:640px) {

	.sm-1 {
		 width: 8.33333333%;
	}


	.sm-2 {
		width: 16.66666667%;
	}

	.sm-3 {
		width: 25%;
	}

	.sm-4 {
		width: 33.33333333%;
	}

	.sm-5 {
		  width: 41.66666667%;
	}


	.sm-6 {
		 width: 50%;
	}

	.sm-7 {
		 width: 58.33333333%;
	}


	.sm-8 {
		 width: 66.66666667%;
	}

	.sm-9 {
		 width: 75%;
	}

	.sm-10 {
		 width: 83.33333333%;
	}


	.sm-11 {
		width: 91.66666667%;
	}

	.sm-12 {
		 width: 100%;
	}

}

@media only screen and (min-width:768px) {

	.ms-1 {
		 width: 8.33333333%;
	}


	.ms-2 {
		width: 16.66666667%;
	}

	.ms-3 {
		width: 25%;
	}

	.ms-4 {
		width: 33.33333333%;
	}

	.ms-5 {
		  width: 41.66666667%;
	}


	.ms-6 {
		 width: 50%;
	}

	.ms-7 {
		 width: 58.33333333%;
	}


	.ms-8 {
		 width: 66.66666667%;
	}

	.ms-9 {
		 width: 75%;
	}

	.ms-10 {
		 width: 83.33333333%;
	}


	.ms-11 {
		width: 91.66666667%;
	}

	.ms-12 {
		 width: 100%;
	}

}


@media only screen and (min-width:992px) {

	.md-1 {
		 width: 8.33333333%;
	}


	.md-2 {
		width: 16.66666667%;
	}

	.md-3 {
		width: 25%;
	}

	.md-4 {
		width: 33.33333333%;
	}

	.md-5 {
		  width: 41.66666667%;
	}


	.md-6 {
		 width: 50%;
	}

	.md-7 {
		 width: 58.33333333%;
	}


	.md-8 {
		 width: 66.66666667%;
	}

	.md-9 {
		 width: 75%;
	}

	.md-10 {
		 width: 83.33333333%;
	}


	.md-11 {
		width: 91.66666667%;
	}

	.md-12 {
		 width: 100%;
	}

}


@media only screen and (min-width:1024px) { 


	.lm-1 {
		 width: 8.33333333%;
	}


	.lm-2 {
		width: 16.66666667%;
	}

	.lm-3 {
		width: 25%;
	}

	.lm-4 {
		width: 33.33333333%;
	}

	.lm-5 {
		  width: 41.66666667%;
	}


	.lm-6 {
		 width: 50%;
	}

	.lm-7 {
		 width: 58.33333333%;
	}


	.lm-8 {
		 width: 66.66666667%;
	}

	.lm-9 {
		 width: 75%;
	}

	.lm-10 {
		 width: 83.33333333%;
	}


	.lm-11 {
		width: 91.66666667%;
	}

	.lm-12 {
		 width: 100%;
	}


}



@media only screen and (min-width:1170px) {
	
	.lg-1 {
		 width: 8.33333333%;
	}


	.lg-2 {
		width: 16.66666667%;
	}

	.lg-3 {
		width: 25%;
	}

	.lg-4 {
		width: 33.33333333%;
	}

	.lg-5 {
		  width: 41.66666667%;
	}


	.lg-6 {
		 width: 50%;
	}

	.lg-7 {
		 width: 58.33333333%;
	}


	.lg-8 {
		 width: 66.66666667%;
	}

	.lg-9 {
		 width: 75%;
	}

	.lg-10 {
		 width: 83.33333333%;
	}


	.lg-11 {
		width: 91.66666667%;
	}

	.lg-12 {
		 width: 100%;
	}

}