

	.shape-list {
		.width(98%);
        .float(right);
		.relative;
        .overflow-hidden;

		
       /* @media (min-width:320px) {
             padding: 0 0 25% 0;
        }*/


         @media (min-width: 768px) and (max-width: 1279px) {
            
            padding-right: 5%;
            padding-left: 10%;
         }


         @media (min-width:1280px) and (max-width: 1919px) {
            
              padding-left: 5%;
         }

          @media @desktop-tv {
             padding-left: 5%;
          }

        &:before,
        &:after {
            content: "";
            .block;
        }

        &:after {
            clear: both;
        }

		@media (min-width:320px) {
			.width(98%);
			.float(none);
			.margin-auto;
		}

        @media (min-width:768px) {
            .float(right);
            .width(100%);
            margin: 0;
        }

		.hex-item {
			
    		cursor: pointer;
    		.inline-block;
    		.float(left);
    		.overflow-hidden;
    		.relative;
    		.rotate(120deg);
    		visibility: hidden;
            -webkit-backface-visibility: hidden;

    		@media (min-width:320px) {
                 width: 210%;
                margin: 0 -55%;
                margin-bottom: 10px;
            }
    

            @media (min-width: 768px) and (max-width: 1279px) {
                margin: 0 -40.5% -25.5%;
                width: 127.5%;

                &:nth-child(2n+2) {
                    margin-top: 27%;
                }


                &:nth-child(2n+3) {
                    clear: left;
                }
            }

            @media @desktop-tv {

                width: 66.6%;
                margin: 0 -21.5% -13%;

                &:nth-child(2n+2) {
                    margin-top: 13.6%;
                } 

                &:nth-child(4n+5) {
                    clear:left;
                }
            }


           @media (min-width: 1280px) and (max-width: 1919px){
                width: 89%;
                margin: 0 -29% -16.8%;

                &:nth-child(3n+2) {
                    margin-top: 18%;
                }

                &:nth-child(3n+4) {
                    clear: left;
                }
            }
    
    		.inner {
    			.height(100%);
    			.overflow-hidden;
    			.relative;
    			.width(100%);
    			.rotate(-60deg);

    			.inner-inner {
    				.rotate(-60deg);
    				.overflow-hidden;
					.width(100%);
					visibility: visible;
                    background-color: transparent;
                    background-position: 50% 50%;
                    background-repeat: no-repeat;
                    background-size: contain;
                    .transition(all,.3s,linear);
                    .relative;

                    .frontface {
                        color: @whiteColor;
                        .block;
                        cursor: pointer;
                        .left(0);
                        .center-align;
                        .top(0);
                        .absolute;
                        .height(100%);
                        .width(100%);
                        .z-index(300);

                        .front-header-center {
                            .top(50%);
                            .left(50%);
                            .translate(-50%,-50%);
                            .relative;
                            .center-align;
                            max-width: 280px;

                            @media @mobile {
                               max-width: 200px; 
                            }
                            
                            .team-name {
                                margin-bottom: 5px;

                                @media (min-width:320px) {
                                    font-size: 1.8rem;
                                }

                                @media (min-width:1680px) {
                                    font-size: 2.0rem;
                                }
                            }

                            .team-title {

                                font-weight:800;
                                line-height: 1.2;

                                @media (min-width:320px) {
                                    font-size: 1.4rem;
                                }

                                @media (min-width:1680px) {
                                    font-size: 1.6rem;
                                }
                            }
                        }
                    }

                    .backface {

                        color: @whiteColor;
                        .block;
                        cursor: pointer;
                        .height(100%);
                        .width(100%);
                        .z-index(300);
                        padding: 4% 8% 6% 8%;
                        .left(0);
                        .center-align;
                        .top(0);
                       .transition(all,.3s,linear);
                        .absolute;
                        opacity: 0;

                        &.change-fade {
                            opacity: 1;
                        }

                        .inner-text {
                            .translate(-50%, -50%);
                            .top(50%);
                            .left(50%);
                            color: @whiteColor;
                            width: 90%;
                            .relative;

                            p {

                                line-height: 1.4;
                                 @media (min-width:320px) {
                                    font-size: 1.2rem;
                                }

                                  @media (min-width:641px) {
                                    font-size: 1.4rem;
                                }
                            }
                            
                            @media (min-width:320px) {
                                max-width: 24rem;
                                padding: 5%;
                            }

                            @media (min-width:460px) {
                                max-width: 30rem;
                                padding: 5%;
                            }

                            @media (min-width:641px) {
                                max-width: 40rem;
                                padding: 5%;
                            }

                            @media (min-width:1280px) {
                                max-width: 30rem;
                                padding: 5%;
                            }


                            @media (min-width:1680px) {
                                max-width: 40rem;
                                padding: 5%;
                            }

                            @media (min-width:1920px) {
                                max-width: 30rem;
                                padding: 2%;
                            }


                            .back-header-center {
                                margin-bottom: 20px;
                                max-width: 280px;
                                margin-left: auto;
                                margin-right: auto;

                                .hex-title  {

                                    margin-bottom: 5px;

                                    @media (min-width:320px) {
                                        font-size: 1.8rem;
                                    }

                                    @media (min-width:1680px) {
                                        font-size: 2.0rem;
                                    }
                                }

                                .hex-sub-title {

                                    font-weight:800;
                                    line-height: 1.2;

                                    @media (min-width:320px) {
                                        font-size: 1.4rem;
                                    }

                                    @media (min-width:1680px) {
                                        font-size: 1.6rem;
                                    }
                                }
                            }

                        }

                        &.orange-face {
                            background:@orangeColor;
                        }

                        &.purple-face {
                            background:@purpleColor;
                        }

                        &.green-face {
                            background:@greenColor;
                        }

                        &.orange-color {
                            background:@orangeColor;
                        }

                        &.purple-color {
                            background:@purpleColor;
                        }

                        &.green-color {
                            background:@greenColor;
                        }
                    }

                    &:after {
                        .absolute;
                        content: "";
                        .width(100%);
                        .height(100%);
                        .top(0);
                        .left(0);
                        background-color: fade(@blackColor, 50%);
                        .z-index(200);
                    }

                    &.logo-1 {
                        background-image: url('@{img-gfx}/comany-logo-1.png');
                    }

                     &.logo-2 {
                        background-image: url('@{img-gfx}/comany-logo-2.png');
                    }

                    &.logo-3 {
                        background-image: url('@{img-gfx}/comany-logo-3.png');
                    }

                     &.logo-4 {
                        background-image: url('@{img-gfx}/comany-logo-4.png');
                    }

                    &.logo-5 {
                        background-image: url('@{img-gfx}/comany-logo-5.png');
                    }


                     &.logo-6 {
                        background-image: url('@{img-gfx}/comany-logo-1.png');
                    }

                     &.logo-7 {
                        background-image: url('@{img-gfx}/comany-logo-2.png');
                    }

                    &.logo-8 {
                        background-image: url('@{img-gfx}/comany-logo-3.png');
                    }

                     &.logo-9 {
                        background-image: url('@{img-gfx}/comany-logo-4.png');
                    }

                    &.logo-10 {
                        background-image: url('@{img-gfx}/comany-logo-5.png');
                    }

                     &.logo-11 {
                        background-image: url('@{img-gfx}/comany-logo-1.png');
                    }


                    &.team-1 {
                        background-image: url('@{img-gfx}/team-1.jpg');
                    }

                    &.team-2 {
                        background-image: url('@{img-gfx}/team-2.jpg');
                    }

                    &.team-3 {
                        background-image: url('@{img-gfx}/team-3.jpg');
                    }

                    &.team-4 {
                        background-image: url('@{img-gfx}/team-4.jpg');
                    }

                    &.team-5 {
                        background-image: url('@{img-gfx}/team-5.jpg');
                    }

                    &.team-6 {
                        background-image: url('@{img-gfx}/team-6.jpg');
                    }


                    &.team-7 {
                        background-image: url('@{img-gfx}/team-7.jpg');
                    }

					@media (min-width:320px) {
                        padding-bottom: 40%;
                    }

                    @media (min-width: 768px) and (max-width: 1279px) {
                        padding-bottom: 41%;
                    }

                    @media (min-width: 1280px) and (max-width:1919px) {
                        padding-bottom: 39.0%;
                    }

                    @media @desktop-tv {
                        padding-bottom: 39.9%;
                    }
    			}

    		}
		}
	}


/*Buttons*/
.hex-btn {
    border: 1px solid @whiteColor;
    color: @whiteColor;
    .center-align;
    font-weight: 600;
    .inline-block;
    .absolute;


    &.front-btn {
        .translate(-50%, -50%);
        .left(50%);
        .top(50%);
        .none;
       
        line-height: 1.5;
        min-width: 140px;
        padding: 1.125rem 1.875rem;
        .font-medium(@mediumFont,1.5rem);
        .transition(all, .2s, linear);

        @media @desktop-small {
             .inline-block;
        }
    }

    &.back-btn {
        font-size: 1.4rem; 
        padding:8px  26px;
        min-width: 100px;
        .left(50%);
        .translate(-50%,0);
        margin-top: 15px;
    }
}



.content-inner {
    .top(0);
    .fixed;
    .width(100%);
    .height(100%);
    .left(30%);
    overflow: auto;
    .z-index(140);
    .none;

    @media @tablet-medium {
        .left(0);
        .width(100%);
        overflow: auto;
        .z-index(200);
        .left(0);
    }


    .topic-header {
        .absolute;
        .z-index(999);
        .width(100%);
        .top(70px);
        .left(0);
        .height(50px);

        @media @mobile {
            .top(20px);
        }

        .arrows-wrapper {
            .block;
            padding: 0 120px;
            height: 50px;
            .width(100%);
            margin-top: 15px;

            @media @tablet-medium {
                padding: 0 60px;
                .width(100%);
            }


            @media @mobile {
                padding: 0 30px;
                .width(100%);
            }

            a {
                .inline-block;
                vertical-align: middle;
                color: @whiteColor;
                text-transform: uppercase;
                font-size: 1.5rem;
                .center-align;
                width: 45px;
                height: 45px;
                text-indent: -99999em;
                background-color: @whiteColor;
                .border-radius(50%);
               
                background-repeat: no-repeat;
                background-size: 40% 40%;
     
                &.prev {
                    background-image: url('@{img-gfx}/prev-icon.svg');
                    margin-right: 20px;
                     background-position: 45% 50%;
                }

                 &.next{
                    background-image: url('@{img-gfx}/next-icon.svg');
                    background-position: 60% 50%;
                }

            }
        }

        .close-panel {
            background-image: url('@{img-gfx}/close-panel.svg');
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: 50% auto;
            .width(50px);
            .height(50px);
            .center-align;
            .top(0);
            .absolute;
            cursor: pointer;
            .z-index(99998);
            .right(60px);
        }
    }



    .topics {
     
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        .left(0);
        overflow: auto;
        .absolute;
        .top(0);
        .width(100%);
        .height(100%);
        z-index: 1500;

        &.active-section {
            z-index:2100;
        }

        @media @tablet-medium {
            overflow-x: hidden;
        }

        .topic-content-wrapper {
           .top(0);
           opacity: 0;
            .bottom(0);
            .left(30%);
            .right(0);
             .z-index(1700);
             overflow-x: hidden;
             overflow-y: auto;
             .height(100%);
             .fixed;
             .transition(all, .2s, ease-out);

             &.purple-content-inner {
                background: @purpleColor;
            }

            &.orange-content-inner {
                background: @orangeColor;
            }

            &.green-content-inner {
                background: @greenColor;
            }

             @media @tablet-medium {
                .left(auto);
                .bottom(auto);
                .relative;
                .right(auto);
                .top(auto);
                .height(100vh);
                
             }

            .article-show {
                color: @whiteColor;
                padding: 150px 80px 120px 120px;
                max-width: 960px;
                .relative;
                .overflow-hidden;

                @media @tablet-medium {
                    .margin-auto;
                    padding: 150px 60px 60px 60px;
                }

                @media @mobile{
                    .margin-auto;
                    max-width: 780px;
                    padding: 130px 30px 30px 30px;
                }

                .case-description {
                    margin-bottom: 40px;
                    padding-bottom: 40px;
                    border-bottom: 2px solid @whiteColor;
                    color: @whiteColor;

                    &:last-child {
                        margin-bottom: 0;
                        border-bottom:none;
                    }

                    .icon-top-wrapper {
                         .group-clearfix;
                         margin-right: 20px;
                         .float(left);

                    }

                    .case-avatar {
                        margin-top: -0.6em;
                        .float(left);
                        .border-radius(50%);
                        .width(8rem);
                        .height(8rem);
                        margin-right: 0.75em;

                        @media @mobile {
                           .width(5rem);
                            .height(5rem);
                        }
                    }

                    .desc-header {
                        margin:30px 0;

                        .case-study-header {
                            font-size: 2.6rem;
                            font-weight: 800;
                            margin-bottom: 7px;

                            @media @mobile {
                                font-size: 1.8rem;
                            }

                        }

                        .job-title-case {
                            font-size: 2.0rem;
                            font-weight: 600;

                             @media @mobile {
                                font-size: 1.6rem;
                            }
                        }
                    }

                    p {
                        font-size: 1.6rem;
                        margin-bottom: 15px;

                        &:last-child {
                             margin-bottom: 0px;
                        }
                    }
                }
            }
        }
    }
}


.shape-list {
    &.inside-container {
        padding-bottom: 340px;

        @media @desktop-normal {
            padding-bottom: 440px;
        }

        @media @tablet-medium {
             padding-bottom: 220px;
        }
    }
}

.flip-tiles-wrapper {
    &.inside-container {
         padding-bottom: 20%;

          @media @desktop-normal {
             padding-bottom: 40%;
        }

        @media @tablet-medium {
            padding-bottom: 40px;
        }
    }
}



