/*Home header*/
.home-header {
	.fixed;
	background-color: transparent;
	.left(0);
	.width(auto);
	max-width: 110px;
	.height(90px);
	.z-index(130);
	padding: 0 30px;
	.overflow-hidden;
	opacity: 0;
	.top(0);

	&.page-header {
		opacity: 1;
		.navigation-switcher {
			.switcher-wrapper {
				#switcher {
					
					.slice {
						background-color: @whiteColor;

						@media @laptop-max {
							background-color: @purpleColor;
						}

						@media @tablet-medium {
							background-color: @whiteColor;
						}
					}
				}
			}
		}

		@media @tablet-medium {
			background-color: @greenColor;
		}
	}

	.navigation-switcher {
		display: table;
		.relative;
		margin: 0 auto;
		.left-align;
		.width(auto);
		.z-index(1400);
		 border-collapse:collapse;

		 &.home-switcher {
		 	margin-top: 30px;
		 }

		 

		 .switcher-wrapper {
		 	display: table-cell;
    		vertical-align: middle;  
    		white-space: nowrap;

    		#switcher {
    			cursor: pointer;
    			.height(25px);
    			.width(35px);
    			.transition(all,.3s,ease-in-out);
    			.rotate(0deg);
    			.relative;
    			.z-index(1401);

    			&.switcher-white {
    				span {
    					background-color: @whiteColor;
    				}
    			}

    			&.open-nav {

    				.slice {

    					background-color: @whiteColor;

    					@media @tablet-large {
							background-color: @whiteColor;
    					}

    					&.slice1 {
    						.top(0);
    						.left(8px);
    						.rotate(45deg);
    					}

    					&.slice2 {
    						opacity:0;
    						.width(0);
    					}

    					&.slice3 {
    						.left(8px);
    						.rotate(-45deg);
    						.top(25px);
    					}

    					&.slice-orange {
    						background: @whiteColor;
    					}
    				}
    			}

    			.slice {
    				background: @purpleColor;
    				.block;
    				.height(5px);
    				.left(0);
    				.absolute;
    				.width(100%);
    				.transition(all,.3s,ease-in-out);
    				.rotate(0deg);



    				&.slice-orange {
    					background: @orangeColor;
    				}

    				&.slice1 {
    					transform-origin: left center;
    					.top(0);
    				}

    				&.slice2 {
    					transform-origin: left center;
    					.top(10px);
    				}

    				&.slice3 {
    					transform-origin: left center;
    					.top(20px);
    				}
    			}
    		}
		}
	}

	.back-btn {
		.inline-block;
		color: @whiteColor;
		font-weight: 700;
		.uppercase;
		font-size: 1.4rem;
		position: relative;
		padding-left: 8px;
		visibility: hidden;
		opacity: 0;
		.transition(all,.5s,ease-in-out);
		.translate(10px,0);
		margin-top: 15px;
		margin-bottom: 10px;


		&.show-link {
			visibility: visible;
			opacity: 1;
			.translate(0,0);
		}


		@media @laptop-max {
			color: @purpleColor;
		}

		@media @tablet-medium {
			color: @whiteColor;
		}

		&:before {
			background: url('@{img-gfx}/arrow-home.svg') no-repeat top left;
			.width(8px);
			.height(12px);
			.inline-block;
			content: "";
			top: 7px;
			position: absolute;
			left: -4px;

			@media @laptop-max {
				background: url('@{img-gfx}/arrow-home-p.svg') no-repeat top left;
			}

			@media @tablet-medium {
				background: url('@{img-gfx}/arrow-home.svg') no-repeat top left;
			}
		}
	}
}

.portals-section-link {
	.absolute;
	z-index: 800;
	.width(auto);
	.top(30px);
	.right(30px);
	color: @whiteColor;

	@media @tablet {
		.relative;
		.float(right);
	}

	.portals-icon {
		&.i-paye-portal {
			.width(45px);
    		.height(52px);
    		background-repeat: no-repeat;
    		background-size: contain;
    		background-position: 0 50%;
    		background-image: url('@{img-gfx}/portal-icon.png');

    		@media @mobile {
    			.none;
    		}
		}

		&.acco-portal {
			.width(52px);
    		.height(52px);
    		background-repeat: no-repeat;
    		background-size: contain;
    		background-position: 0 50%;
    		background-image: url('@{img-gfx}/free-agent-logo.svg');

    		@media @mobile {
    			.none;
    		}
		}
	}

	.portals-text-link {
		a {
			color: @whiteColor;
			.block;
			font-weight: 400;
			@media @mobile {
				padding: 8px 12px;
				background: @whiteColor;
				color: @purpleColor;
				font-weight: 700;
				min-width: 120px;
				.center-align;
			}
		}
	}


	.portal-column {
		vertical-align: middle;
		.inline-block;
	}
}

/*.portals-ico-wrapper {
		display: table;
		.relative;
		.float(right);
		.height(80px);
		.right-align;
		.width(auto);
		 border-collapse:collapse;

		.cell-right {
			display: table-cell;
    		vertical-align: middle;  
    		white-space: nowrap;

    		&.ico-cell {
    			.width(45px);
    			.height(52px);
    			background-repeat: no-repeat;
    			background-size: contain;
    			background-position: 0 50%;
    			background-image: url('@{img-gfx}/portal-icon.png');
    		}

    		&.ico-link {
    			padding-left: 10px;
    			a {
    				color: @whiteColor;
    				font-family: @fontRegular;
    				.transition(all,.3s,linear);

    				@media @tablet-large {
    					color: @purpleColor;
    				}

    				&.change-color-link {
    					color: @whiteColor;
    				}
    			}
    		}
		}
	}*/



/*Pagination nav*/

.pagination-nav {
	.width(25%);
	.top(0);
	.left(-100%);
	.center-align;
	opacity: 0;
	.fixed;
	.z-index(120);
	 backface-visibility: hidden;
	 background-color: @whiteColor;
	 white-space: nowrap;
	 .height(100%);
	 font-size: 0;
	 .transition(width, .3s, linear);

	 @media @tablet-large {
	 	.relative;
	 	.height(auto);
	 	.width(100%);
	 	padding-top: 80px;
	 }

	 &:before {
	 	.content;
	 	.inline-block;
	 	vertical-align: middle;
	 	.height(100%);
	 	.width(0);

	 	@media @tablet-large {
	 		.none;
	 	}

	 	@media @desktop-height { 
			.none;
	 	}
	 }

	.pagination-wrapper {
	 	.center-align;
	 	.inline-block;
	 	vertical-align: middle;
	 	white-space: normal;
	 	font-size: 1.6rem;
	 	padding: 0 5%;
		.width(100%);

		@media @desktop-height {
			.bottom(0);
			.left(0);
    		min-height: 0;
    		overflow-y: auto;
    		padding: 80px 5% 80px 5%;
    		.absolute;
    		.right(0);
    		.top(0);
		}

		@media @tablet-large {
			.margin-auto;
			max-width: 600px;
			vertical-align:top;
			.block;
		}

	 	.pagination-list {
	 		.overflow-hidden;
	 		.center-align;
	 		.list-reset;

	 		@media @tablet-large {
	 			font-size: 0;
	 			line-height: 0;
	 		}

	 		li {
				
				margin-bottom: 20px;
				.relative;
				opacity: 0;

				@media @tablet-large {
					.inline-block;
					line-height: 1;
					font-size: 1.6rem;
					.width(33.333%);
				}

				&:last-child {
					margin-bottom: 0;
				}

				span {
					.block;
					cursor: pointer;

					&:hover {
						img {
							opacity: 1;
						}
					}


					img {
						max-width: 55%;
						height: auto;
						.transition(opacity, .2s, linear);
						opacity: .2;
						.inline-block;
						outline: none !important;
						border: 0 !important;

						@media @tablet-large {
							max-width:70%;
						}
					}

					&.active-link {
						img {
							opacity: 1;
						}
					}


				}
	 		}
	 	}
	}
}


.main-slides-wrapper {
	.z-index(110);
	.float(left);
	.relative;
	.overflow-hidden;
	.width(100%);

	.slides-container {
		.relative;
		.width(300%);
		display: table;
		.height(100%);


		.section {
			.width(100%);
			.height(100%);
			display: table-cell;
			background-color: transparent;
			vertical-align: top;
			opacity: 1;

			.main-slide-content {
				.relative;
				.margin-auto;
				.overflow-hidden;
				padding: 0;
				.background-size;
				background-position: 50% 50%;

				.slide-container {

					.absolute;
					.z-index(600);
					.left(0);
					.top(0);
					.bottom(0);
					.right(0);
					.width(100%);
					.height(100%);

					@media @desktop-height {
						overflow-y: scroll;
						min-height: 0;
						padding: 140px 0 30px 0;
					}

					@media @tablet-large {
						overflow-y: scroll;
						min-height: 0;
						padding: 140px 0 30px 0;
					}

					.content-section {
						.relative;
      					color: @whiteColor;
      					padding-left: 25%;
      					.z-index(600);
      					.translate(0,-50%);
      					.top(50%);
      					font-family: @boldFont;

      					@media @tablet-large {
        					padding-left:0;
        					padding-top:8%;
        					padding-bottom: 8%;

      					}

      					.content-section-inner {
      						.width(100%);
      						padding: 8%;
      						.relative;
      						.overflow-hidden;
      						.group-clearfix;

      						.slider-column {
      							.width(50%);

      							@media @tablet {
      								.width(100%);
      							}

      							p {

      								opacity: 1;
      								.translate(0,0);

      								@media (min-width: 320px) {
      									font-size: 1.2rem;
      								}

      								@media (min-width: 641px) {
      									font-size: 1.4rem;
      								}

      								@media (min-width: 768px) {
      									font-size: 1.8rem;
      								}

      								@media (min-width: 1441px) {
      									font-size: 2.0rem;
      								}

      								@media (min-width: 1680px) {
      									font-size: 2.4rem;
      								}
      							}

      							&.slider-column-left {
      								.float(left);
      								.width(60%);
      								opacity: 1;


      								.content-left-inside {
      									.top(50%);
      									.relative;
      									.translate(0,-50%);

      									@media @tablet {
      										.translate(0,0);
      										.top(0);
      									}

	      									.button-accountancy-wrapper {
	      										margin-top: 20px;
      									}
      								}

      								@media @mobile {
      									opacity: 1 !important;
      								}




      								.not-sure {
      									.inline-block;
      									.height(50px);
      									line-height: 46px;
      									font-weight: 800;
      									background-size: auto 100%;
      									background-position: 10px 50%;
      									color:@whiteColor;
										
										padding-left: 62px;
										padding-right: 30px;
										font-size: 1.6rem;
										background-repeat: no-repeat;
										border:1px solid @whiteColor;
										background-image: url('@{img-gfx}/not-sure-logo.svg');
										margin-top: 20px;

										&.purple-sure {
											background-color: @purpleColor;
										}

										&.green-sure {
											background-color: @greenColor;
										}

										&.orange-sure {
											background-color: @orangeColor;
										}

										@media @desktop-small {
											.height(auto);
											line-height: 20px;
											 padding: 10px 30px 12px 62px;
											 background-position: 4px 50%;
											 font-size: 1.4rem;
										}
      								}

      								.countries-choose {
      									.list-reset;
      									margin: 20px 0;


      									li {
      										.block;
      										opacity: 1;
      										.width(100%);
      										.relative;
      										margin-bottom: 15px;
      										color:@whiteColor;
      										vertical-align: middle;

      										&:last-child {
      											margin-bottom: 10px;
      										}

      										a {
      											.inline-block;
      											.height(50px);
      											line-height: 48px;
      											font-weight: 800;
      											background-size: auto 100%;
      											background-position: 20px 50%;
      											color:@whiteColor;
      											min-width: 270px;
												background-color: @purpleColor;
												padding-left: 80px;
												font-size: 1.6rem;
												background-repeat: no-repeat;
												border:1px solid @whiteColor;

      											&.uk-ico {
      												background-image: url('@{img-gfx}/uk-logo.svg');
      											}

      											&.eu-ico {
      												background-image: url('@{img-gfx}/eu-logo.svg');
      											}

      											&.rest-ico {
      												background-image: url('@{img-gfx}/rest-world-logo.svg');
      											}
      										} 
      									}
      								}

      								@media @tablet {
      									margin-bottom: 50px;
      									.width(100%);
      								}
      							}

      							&.slider-column-right {
      								.float(right);
      								.width(40%);
      								opacity:1;

      								.right-column-inner {
      									padding: 4rem;
      									.height(100%);
      									display: table;
      									color:@whiteColor;
      									.width(100%);

      									.right-content-slogan {
      										display: table-cell;
      										vertical-align: bottom;
      										.center-align;

      										.slide-btn {
      											opacity: 1;
      										}

      										@media @tablet {
      											.block;
      											.left-align;
      										}
      									}

      									@media @tablet {
      										.height(auto) !important;
      										.block;
      										padding: 0;
      										margin: 20px 0;
      									}
      								}

      								@media @tablet {
      									.float(none);
      									.width(100%);
      									.height(auto) !important;
      									.block;
      								}
      							}
      						}
      					}
					}

				}

				&.i-paye-wrapper-bck {
					background-image: url('@{img-gfx}/bck-i.jpg');
				}

				&.i-paye-accountancy-wrapper-bck {
					background-image: url('@{img-gfx}/bck-s.jpg');
				}

				&.spi-accountancy-wrapper-bck {
					background-image: url('@{img-gfx}/bck-i.jpg');
				}

				.mask-slide {
					.absolute;
					.z-index(200);
					.left(0);
					.top(0);
					.bottom(0);
					.right(0);
					.width(100%);
					.height(100%);

					&.mask-purple {
						background-color: fade(@purpleColor, 85%);
					}

					&.mask-green {
						background-color: fade(@greenColor, 85%);
					}

					&.mask-orange {
						background-color: fade(@orangeColor, 85%);
					}
				}
			}
		}
	}
}

.live-chat-wrapper {

	.none;

	&.fixed-chat {
		.fixed;
		.bottom(-180px);
		.left(5.3%);
		.z-index(1200);
		margin-left: 0;
	}

	&.non-intro-chat {
		.bottom(-180px);
	}
	
	color: @whiteColor;
	
	.absolute;
	.right(0);
	.left(0);
	.width(150px);
	.height(105px);
	.left(50%);
	margin-left: -75px;
	overflow: hidden;

	@media @desktop-height {
		.height(35px);
	}

	@media @tablet-medium  {
		.height(35px);
	}

	.chat-icon {
		position: absolute;
		.bottom(35px);
		.left(25px);
		background: url('@{img-gfx}/icon-chat.svg') no-repeat;
		.width(112px);
		.height(70px);

		@media @desktop-height {
			.none;
		}

		@media @tablet-large  {
			.none;
		}
	}

	.chat-btn {
		.block;
		.height(35px);
		line-height: 35px;
		.center-align;
		color: @whiteColor;
		background: @purpleColor;
		.width(150px);
		font-size: 1.6rem;
		.absolute;
		.bottom(0);
		.left(50%);
		margin-left: -75px;
		font-family: @boldFont;

		@media @tablet-large  {
			border: 1px solid @purpleColor;
			color: @purpleColor;
			background: @whiteColor;
		}

	}
}