

/*FONTS*/

.font-regular(@font-family:@fontRegular, @font-size,@font-weight:400) {
	font-family: @font-family;
	font-size: @font-size;
	font-weight: @font-weight;
}


.font-medium(@font-family:@mediumFont, @font-size, @font-weight:700) {
	font-family: @font-family;
	font-size: @font-size;
	font-weight: @font-weight;
}

.font-bold(@font-family:@boldFont, @font-size, @font-weight:900) {
	font-family: @font-family;
	font-size: @font-size;
	font-weight: @font-weight;
}

.body-reset {
	line-height: 1.5;
	padding: 0;
	margin: 0;
}

.group-clearfix {
	 zoom: 1;

	&:before, &:after {
    	content: "";
    	display: table;
  	}

  	&:after {
		clear:both;
  	}
}

.background-image {
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-position: 50% 50%;
}


.padding-responsive {
	&:before {
				content: "";
				padding-bottom: 90%;
				float: left;
			}

	&:after {
		clear: both;
		content: "";
		display: table;
	}
}

.v-hidden {
	 -webkit-backface-visibility: hidden !important;
     -moz-backface-visibility:    hidden !important;
    -ms-backface-visibility:     hidden !important;
}

.flex-box {
	display: -webkit-box;  /* Safari 3.1 - 6, Chrome < 21 (2009 Spec), UCBrowser Android */
  	display: -moz-box;     /* Firefox 2 - 27 (2009 Spec), UCMini Android */
  	display: -ms-flexbox;  /* IE10 (2012 Syntax) */
  	display: -webkit-flex; /* Safari 6.1 - 8, Android < 4.4, BB < 10, Chrome 21 - 28 */
  	display: flex; 
}

.flex-direction {
	-webkit-flex-direction: column;
   	flex-direction: column;
   	-moz-flex-direction: column;
}


.img-responsive(@max-width:100%, @height:auto, @display:block) {
	max-width: @max-width;
	height: @height;
	display: @display;

}

.uppercase {
	text-transform: uppercase;
}

.general-reset {
	padding: 0;
	margin: 0;
	line-height: 1.1;
}

.text-decoration(@text-decoration) {
	text-decoration: @text-decoration;
}

.text-transform(@text-transform) {
	text-transform: @text-transform;
}

.margin-auto {
	margin: 0 auto;
}

.list-reset {
	margin: 0;
	padding: 0;
	list-style: none;
}

.list-center {
	overflow: hidden;
	text-align: center;
	font-size: 0;
	line-height: 0;
}

.left-align {
	text-align: left;
}

.center-align {
	text-align: center;
}

.right-align {
	text-align: right;
}


.absolute {
	position: absolute;
}

.relative {
	position: relative;
}

.fixed {
	position: fixed;
}

.overflow-hidden {
	overflow: hidden;
}

.static {
	position: static;
}

.top(@top) {
	top: @top;
}

.right(@right) {
	right: @right;
}

.bottom(@bottom) {
	bottom: @bottom;
}

.left(@left) {
	left: @left;
}

.z-index(@z-index) {
	z-index: @z-index;
}


.font-weight(@fontWeight){
	font-weight: @fontWeight;
}

.width(@width) {
	width:@width;
}

.content {
	content: "";
}

.height(@height) {
	height:@height;
}

.line-height(@line-height) {
	line-height: @line-height;
}


.float(@float) {
	float: @float;
}

.block {
	display: block;
}

.inline-block {
	display: inline-block;
}

.none {
	display: none;
}

.box-sizing (@type: border-box) {
	-webkit-box-sizing: @type;
	-moz-box-sizing:    @type;
	box-sizing:         @type;
}

.table {
	display: table;
}

.cell {
	display: table-cell;
}

.background-size(@background-size:cover, @background-repeat:no-repeat) {
	background-size: @background-size;
	background-repeat: @background-repeat;
}

.opacity(@opacity) {
	opacity: @opacity;
}

/*TRANSITIONS*/
.transition(@prop:all, @time:1s, @ease:linear) {
	-webkit-transition: @prop @time @ease;
	-moz-transition: @prop @time @ease;
	-o-transition: @prop @time @ease;
	-ms-transition: @prop @time @ease;
	transition: @prop @time @ease;
}

.translate(@x,@y) {
	-webkit-transform: translate(@x, @y);
  	-ms-transform: translate(@x, @y);
   	-o-transform: translate(@x, @y);
    transform: translate(@x, @y);
}

.rotate(@deg) {
	transform: rotate(@deg);
	-webkit-transform: rotate(@deg);
	-ms-transform: rotate(@deg);
}

.scale (@factor:1) {
	-webkit-transform: scale(@factor);
	-moz-transform: 	 scale(@factor);
	-ms-transform: 		 scale(@factor);
	-o-transform: 		 scale(@factor);
}

.border-radius(@radius:0px) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;
}


/*FORM STYLING*/ 

.form-reset(@border-radius:0, @box-shadow:none,@line-height:1.5) {
	border-radius: @border-radius;
	box-shadow: @box-shadow;
	line-height: @line-height;
}

.placeholder(@color:@blackColor, @font-size:@normalSize) {
	color: @color;
	font-size: @font-size;
}


