.left-navigation {
  .fixed;
  .height(100vh);
    max-width: 100vw;
  .left(0);
  .transition(all,.3s,ease-in-out);
  .translate(-100%,0);
  .z-index(125);
  .top(0);


  @media (min-width:320px) {
    .width(94%);
  }

  @media (min-width:480px) {
    .width(80%);
  }

  @media (min-width:640px) {
    .width(60%);
  }

  @media (min-width:768px) {
    .width(50%);
  }

  @media (min-width:1024px) {
    .width(40%);
  }

  @media (min-width:1281px) {
    .width(30%);
  }

  @media (min-width:1365px) {
    .width(25%);
  }

  &.display-nav {
    .translate(0,0);
  }

  &.purple-navigation {
    background: @purpleColor;
  }


  &.orange-navigation {
    background: @orangeColor;
  }

  &.green-navigation {
    background: @greenColor;
  }



  &.white-navigation {
    background: @whiteColor;
  }

    .navigation-scroller {
        .left(0);
        .width(100%);
        padding:0;
        .top(60px);
        overflow-x: hidden;
        overflow-y: auto;
        .absolute;
        .z-index(40);
        .bottom(60px);
    }


    .main-navigation-list {
      .list-reset;
      letter-spacing: 0.10em;
      color: @whiteColor;
     
      @media (min-width:320px) {
         font-size: 1.8rem;

         padding:40px 30px;
         margin-bottom: 40px;
      }

       @media (min-width:1024px) {
            padding-top: 2.5vw;
            padding-left: 2.5vw;
            padding-right: 5.5vw;
            margin-bottom: 2.5vw;
      }

       @media (min-width:1366px) {
         font-size: 1.6rem;
      }


       @media (min-width:1600px) {
         font-size: 1.8rem;
      }

    .sub-nav-list {
        .list-reset;
        .overflow-hidden();
        .width(100%);
         margin-top: 10px;

        li {

          padding: 4px 0;
          line-height: 1.2;
            a {

              font-weight: 700;
                

              @media (min-width:320px) {
                    font-size: 1.6rem;
                }


                @media (min-width:1366px) {
                    font-size: 1.3rem;
                }


               @media (min-width:1600px) {
                 font-size: 1.4rem;
              }


                &:hover {
                    &:before {
                        .width(0.4vw);
                    }
                }
            }
        }
    }
      
        li {

           padding: 8px 0;
           line-height: 1.4;

           @media @mobile {
            padding: 4px 0;
           }

            a {
                .block;
                position: relative;
                color: @whiteColor;
                font-weight: 700;
            }


            &.drop-down-anchor {
                a {

                    .relative;
                    .inline-block;
                    
                    .drop-nav-icon {
                        .width(10px);
                        .height(10px);
                        .inline-block;
                        cursor: pointer;
                        .top(50%);
                        .absolute;
                        margin-top: -4px;
                        .right(-30px);
                       background-size: 100% 100%;
                       background-image: url('@{img-gfx}/drop-down-icon.svg');
                       background-repeat: no-repeat;
                       background-position: 50% 50%;

                       @media @tablet-large {
                        .width(14px);
                        .height(14px);
                       }
                    }
                }
            }
        }
    }
}


.main-navigation-list,
.sub-nav-list {
    li {
        a {
            &:before {
                background-color: @whiteColor;
                content: "";
                .block;
                .height(2px);
                .transition(all,.3s,cubic-bezier(0.645, 0.045, 0.355, 1));
                .width(0);
                .top(46%);
                .absolute;
                margin: auto;

                @media (min-width:320px) {
                    .left(-3vw);
                }

                @media (min-width:480px) {
                    .left(-2vw);
                }

                @media (min-width:640px) {
                    .left(-1vw);
                }
            }

            &:hover {
                &:before {

                   @media (min-width:320px) {
                        .width(1vw);
                    }

                    @media (min-width:640px) {
                        .width(0.8vw);
                    }

                    @media (min-width:768px) {
                        .width(0.5vw);
                    }
                }
            }
        }
        
        &.active-link {
            a {
                &:before {
                    @media (min-width:320px) {
                        .width(1vw);
                    }

                    @media (min-width:640px) {
                        .width(0.8vw);
                    }

                    @media (min-width:768px) {
                        .width(0.5vw);
                    }
                    
                }
            }
        }

    }
}


