// Pages

  // Page accreditatios

  .page-404-wrapper {
    .width(90%);
    .margin-auto;
    max-width: 96rem;
    .center-align;

    .page-content {
        h3 {
            font-size: 2.4rem;
            line-height: 1.2;
            margin-bottom: 20px;

        }
    }

    .page-inner {
        padding: 80px 0 160px 0;
        overflow: hidden;
        .main-page-content {
            margin-bottom: 40px;
        }
    }
  }

	.page-container {
		.float(right);
		.width(70%);
		background: @whiteColor;

        @media @tablet-medium {
            .width(100%);
            .overflow-hidden;
            .width(100%);
            .float(none);
        }


        &.single-news, 
        &.single-page

        {

            .sect-masthead {
                min-height:32em;
                .background-size;
                background-position: 50% 100%;
                .relative;
                background-attachment: fixed;
                -webkit-background-attachment: fixed;

                @media @desktop-small {
                background-attachment: scroll;
                -webkit-background-attachment: scroll;
                }

                .masthead-content {
                    .group-clearfix;
                    max-width: 62em;
                    .width( 85%);
                    .margin-auto;
                    opacity: 1;

                    @media @desktop-small {
                        opacity: 1 !important;
                    }

                    .mast-header {
                        .left(10%);
                        .right(10%);
                        .bottom(15%);
                        .absolute;
                        .z-index(15);
                        max-width: 45em;
                        color: @whiteColor;

                        @media @mobile {
                            .bottom(10%);
                        }

                        .post-title {
                            .left-align;
                            margin-bottom: 20px;
                            text-transform: capitalize;
                            @media (min-width:320px) {
                                font-size: 2.8rem;
                            }

                            @media (min-width:1366px) {
                                font-size: 3.0rem;
                            }

                            @media (min-width:1680px) {
                                font-size: 3.8rem;
                            }
                        }

                        .post-meta {
                            .block;
                            font-size: 120%;
                            max-width: 17em;

                            @media @mobile {
                                font-size: 100%;
                            }
                        }
                    }
                }

                .overlay {
                    .block;
                    .absolute;
                    background: rgba(0, 0, 0, 0.5);
                    .absolute;
                    .height(100%);
                    .width(100%);
                    .top(0);
                    .left(0);
                    .z-index(8);
                    .transition(background-color, 1s, ease);
                }
            }

            .breadcrumbs-list {
               
                margin-bottom: 20px;
                ul {
                    font-size: 0;
                    line-height: 0;
                    .list-reset;

                    li {

                        &:first-child {
                            margin-left: 0;
                            &:before {
                                .none;
                            }
                        }

                        .inline-block;
                        margin: 0 5px;
                        line-height: 1;
                        .relative;
                        padding:0 5px;
                        font-size: 1.2rem !important;
                        line-height: 1;
                        color: @greyColor;

                        &:before {
                            .width(1px);
                            .height(10px);
                            content: "";
                            background-color: @greyColor;
                            .absolute;
                            .top(2px);
                            .left(-7px);
                        }
                       

                        a {
                           
                            font-size: 1.2rem;

                            &:first-of-type {
                                 color: @orangeColor;
                            }
                        }
                    }
                }
            }

            .page-inner {

                &.single-blog {
                    padding-top:40px;
                }


                &.single-blog,
                &.single-page 

                 {
                    .page-content {
                        .main-page-content {
                            ol,
                            ul:not(.blog-social-list),
                            ul:not(.category-filter-list),
                            ul:not(.filter-list),
                            ul:not(.list-working-uk)

                             {
                                padding:0 0 0 15px;
                                margin: 10px 0;

                                li {
                                    margin-bottom: 10px;
                                    font-size: 1.6rem;
                                    list-style-type: circle;
                                   
                                }
                            }

                            img {
                                max-width: 100%;
                                .block;
                                margin: 20px 0;
                                border: 1px solid @greyColor;
                                .height(auto);
                                padding: 2px;
                                background: @whiteColor;
                            }
                        }
                    }


                    .blog-social-list {
                       .list-reset;
                       margin: 10px 0;
                       padding-left: 0;
                        
                        &.white-purple-socials {
                            li {

                                .inline-block;
                                font-size: 1.6rem;
                                line-height: 1;
                                margin: 0 4px;
                                list-style-type: none;
                                padding: 0;


                                a {

                                    .block;
                                    .width(34px);
                                    .height(28px);
                                    background-position: 50% 50%;
                                    background-repeat: no-repeat;
                                    background-size: 100% 100%;



                                    &.twitter-purple {
                                         background-image: url('@{img-gfx}/twitter-purple-b.svg');
                                    }

                                    &.linked-purple {
                                        background-image: url('@{img-gfx}/linked-purple-b.svg');
                                    }

                                    &.google-purple {
                                        background-image: url('@{img-gfx}/google-purple-b.svg');
                                    }
                                }
                            }
                        }
                    }
                }
            }

        }

		.page-inner {
			margin: 0;
    		max-width: 96rem;
    		padding: 80px 5% 180px 5%;
            .overflow-hidden;

            &.page-inner-height {
                padding-bottom: 200px;
            }

            &.page-inner-full-width {
                max-width:100%;
            }

            @media @desktop-normal {
                padding-bottom:280px;
            }

            @media @tablet-medium {
                padding: 15px 30px;
            }

    		.page-inner-header {
    			.overflow-hidden;
    			margin-bottom:50px;
    			.width(100%);

                @media @mobile {
                    margin-bottom:15px;
                }

    			.col-head {
    				.float(left);

    				&.logo-col {
    					.relative;
    					.width(40%);

                        @media (min-width:320px) {
                            .width(100%);
                            margin-bottom: 15px;
                        }


                        @media (min-width:320px) {
                            .width(100%);
                            margin-bottom: 15px;
                        }


                        @media (min-width:641px) {
                            .width(40%);
                            margin-bottom: 0;
                        }


                        @media (min-width:1279px) {
                            .width(30%);
                            margin-bottom: 0;
                        }


                        @media (min-width:1440px) {
                            .width(40%);
                            margin-bottom: 0;
                        }

                     

    					&:after {
    						.block;
    						content: "";
    						padding-bottom: 100%;
    					}

    					.flipper-shape {
    						.height(100%);
    						.relative;

    						.shape-bck {
    							background-position: 50% 50%;
                				background-repeat: no-repeat;
                				background-size: 100% 100%;
    						}

    						.front-shape {
    							

                                 &.purple-shape {
                                     background-image: url('@{img-gfx}/grid-shape-back.png');

                                    @media @laptop-max {
                                        background-image:none;
                                        background-color: @purpleColor;
                                    }
                                 }

                                &.orange-shape {
                                     background-image: url('@{img-gfx}/grid-back-o.png');
                                     @media @laptop-max {
                                        background-image:none;
                                        background-color: @orangeColor;
                                    }
                                }


                                &.green-shape {
                                     background-image: url('@{img-gfx}/grid-back-g.png');
                                     @media @laptop-max {
                                        background-image:none;
                                        background-color: @greenColor;
                                    }
                                }


    							.shape-content {
    							 	color: @whiteColor;
    							 	max-height: 100%;
					              	max-width: 500px;
					              	.width(70%);
					              	.top(36%);
					              	.right(27px);
					              	.absolute;

                                    @media @laptop {
                                        .right(20px);
                                    }

                                    @media @laptop-max {
                                        .relative;
                                        .top(50%);
                                        .left(50%);
                                        .translate(-50%,-50%);
                                        .width(80%);

                                    }

					              	.title-ico {
                    					margin: 0 auto 15px;
                    					.width(50%);
                                         .center-align;

                                        img {
                                            .center-align;
                                            .margin-auto;
                                            .height(auto);
                                            max-width: 100%;

                                             @media (min-width:320px) {
                                                max-height: 125px;
                                            }

                                            @media (min-width:480px) {
                                                max-height: 110px;
                                            }


                                            @media (min-width:641px) {
                                                max-height: 90px;
                                            }  

                                            @media (min-width:1280px) {
                                                max-height: 70px;
                                            }

                                            @media (min-width:1440px) {
                                                max-height: 110px;
                                            }
                                        }
                  					}

                  					.main-shape-title {
                  						@media (min-width:320px) {
                                            font-size: 2.6rem;
                                            .center-align;
                                        }

                                        @media (min-width:640px) {
                                            font-size: 2.0rem;
                                        }

                                        @media (min-width:1280px) {
                                            font-size: 1.8rem;
                                        }


                                         @media (min-width:1440px) {
                                            font-size: 2.2rem;
                                        }

                                        span {
                                            .block;
                                        }
                  					}
    							}
    						}

    						.back-shape {
    							 background-image: url('@{img-gfx}/grid-shape-left.png');
    						}

    						.front-shape,
    						.back-shape {
    							.top(0);
    							.absolute;
    							.overflow-hidden;
    							.left(0);
    						}
    					}
    				}

    				&.desc-col {
    					padding-left: 30px;
    					.width(60%);

                        @media (min-width:320px) {
                            .width(100%);
                            padding-left: 0px;
                        }

                        @media (min-width:320px) and (max-width:640px) {
                             .height(auto) !important;
                        }


                         @media (min-width:641px) {
                            .width(60%);
                            padding-left: 30px;
                        }


                         @media (min-width:1279px) {
                            .width(70%);
                            padding-left: 30px;
                         }


                         @media (min-width:1440px) {
                            .width(60%);
                            padding-left: 30px;
                         }



    					.description-inner {
    						display: table;
    						.height(100%);

                             @media @mobile {
                                .block;
                                .height(auto);
                             }

    						.inner-text {
								display: table-cell;
								vertical-align: bottom;

                                @media @mobile {
                                    .block;
                                }

                                p {
                                    font-size: 1.8rem;
                                    font-weight: 700;
                                    line-height: 1.4;

                                    @media @mobile {
                                       .center-align;
                                    }

                                    @media @desktop-large {
                                        font-size: 1.8rem;
                                        font-weight: 700;
                                    }
                                }
    						}
    					}
    				}
    			}
    		}

            .logo-grid-wrapper {
                margin-bottom: 40px;
            }


    		.page-content {
    			margin-bottom: 40px;
    			
    			.logo-item {
    				padding-top: 1.5rem;
    				padding-bottom: 1.5rem;
    				
    				.logo-container {
    					border: 1px solid @greyColor;
    				}
    			}


                ol,
                ul:not(.blog-social-list)

                 {
                    padding:0 0 0 15px;
                    margin: 15px 0;

                    li {
                        margin-bottom: 10px;
                        font-size: 1.6rem;
                        list-style-type: circle;
                    }
                }

                .content-title-main,
                h2,
                h3

                 {
                    font-size: 2.4rem;
                    line-height: 1.2;

                    @media @mobile {
                        font-size: 2.0rem;
                        .center-align;
                    }

                    margin-bottom: 20px;
                    &.grey-header {
                        color: @greyColor;
                    }

                    &.orange-header {
                       color: @orangeColor;
                    }

                    &.green-header {
                       color: @greenColor;
                    }
                }

                h4 {
                    margin-bottom: 10px;
                    font-size: 1.8rem;
                    line-height: 1.2;

                    /*&:last-of-type {
                         margin-bottom: 0;
                    }*/

                }

                .content-title-sub

                 {
                     font-size: 2.0rem;
                     line-height: 1.4;

                     a {
                        .inline-block;
                        text-decoration: none;
                     }

                     &.orange-sub {
                        color: @orangeColor;
                        a {
                            color: inherit;
                        }
                     }

                     &.grey-sub {
                        color: @greyColor;
                        a {
                            color: inherit;
                        }
                     }


                     &.green-sub {
                        color: @greenColor;
                        a {
                            color: inherit;
                        }
                     }

                    @media @mobile {
                        font-size: 1.6rem;
                    }
                }

                p {
                    margin-bottom: 15px;
                    &:last-child {
                        margin-bottom: 10px;
                    }

                    font-size: 1.6rem;

                }
    		}

            .main-page-content {
                &:after,
                &:before {
                    display: table;
                    line-height: 0;
                    height: 0;
                    content: "";
                }

                &:after {
                    clear: both;
                }

                padding-bottom: 30px;
                border-bottom: 1px solid @greyColor;
                margin-bottom: 40px;
            }

            .map-content {
                .overflow-hidden;
                .relative;

                #map {
                    &:after {
                        padding-bottom: 100%;
                        content: "";
                        .block;
                    }
                }
            }
		}
	}


    .page-contact-area,
    .page-bottom-area

     {
        .overflow-hidden;
        margin-bottom: 40px;

        .prev-article,
        .next-article {
            .block;
            .width(80px);
            .height(80px);
            color: @whiteColor;
            background-color: transparent;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            .relative;

            &.left-btn {
                .float(left);
                 background-image: url('@{img-gfx}/grid-shape-back.png');
            }

             &.right-btn {
                .float(right);
                 background-image: url('@{img-gfx}/grid-shape-left.png');
            }

            .inside-btn {
                .width(30px);
                .height(30px);
                .absolute;
                .top(37%);
                background-size: 70% 70%;
                background-repeat: no-repeat;
                background-position: 50% 50%;

                &.right-arrow-btn {
                    .left(20px);
                    background-image: url('@{img-gfx}/next-blog.svg');
                }

                &.left-arrow-btn {
                    .right(20px);
                    background-image: url('@{img-gfx}/prev-blog.svg');
                }
            }
        }

        .page-contant-form-wrapper {
            .float(left);
            .width(100%);

            .page-form-ipaye {

                .spacer-wrapper {
                    margin-bottom: 15px;
                    &:last-child {
                        margin-bottom: 0px;
                    }
                }

                input {
                    .height(40px);
                    line-height: 40px;
                }

                textarea {
                    min-height:200px;
                }

                ::-webkit-input-placeholder {
                color: @greyColor;
                     .font-regular(@fontRegular,1.4rem);
                }

                ::-moz-placeholder {
                    color: @greyColor;
                    .font-regular(@fontRegular,1.4rem);
                    opacity: 1;
                }

                :-ms-input-placeholder {
                    color: @greyColor;
                    .font-regular(@fontRegular,1.4rem);
                }

                .send-btn {
                    color:@whiteColor;
                    font-weight: 700;
                    background: @greenColor;
                    .float(right);
                    border: none;
                }

            }

        }

    }

#extra-content {
    margin-bottom: 20px;
    /*Table styling*/
.contractors-table {
        .width(100%);
        border-collapse: collapse;

        @media @mobile {
            .block;
            thead, tbody, th, td, tr {
                .block;
                font-size: 1.2rem;
            }
        }


         &.purple-table {

            .umbrella-header {
                 background: @purpleColor 
            }

            .ltd-header {
                 background: @greenColor; 
            }
        }

        &.green-table {

            .umbrella-header {
                 background: @purpleColor 
            }

            .ltd-header {
                 background: @greenColor; 
            }
            
        }


        tr {
            background: @blackColor;
            color: @whiteColor;
        }

        tr {
            &:nth-of-type(odd) {
                background: #eee; 
            }
        }

        tr {
           &:nth-of-type(2n+1) {
                background: #eee;
            }
        }

        th {
            color: white; 
            font-weight: bold; 
        }

        td, th {
            .center-align;
            padding: 8px;
            border: 1px solid #ccc; 
        }

        tbody {
            tr,td {
                 text-transform: normal;
            }
            td {
                color: @blackColor;
                background: @whiteColor;
            }
        }
    }
}



.download-guide-wrapper {
    display: flex;
    flex-wrap:wrap;
    justify-content: flex-end;
    margin-bottom: 15px;

    @media @mobile {
         justify-content: center;
    }
}

.tabs-filter-section {
    margin-bottom: 20px;
}

.filter-list,
.list-working-uk,
.list-working-eu
 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

    .list-reset;

    list-style: none !important;
    padding:0 !important;
    margin-bottom: 0 0 15px 0 !important;

    @media @tablet-small {
         flex-direction: column;
    }


    li {
        cursor: pointer;
        padding: 1.2rem 1.5rem;
        line-height: 2.4rem;
        color: @whiteColor;
        margin: 0 5px;
        flex: 0 1 auto;
        .block;
        background-color: @purpleColor;

       &.ipaye-agency {
            background-color: @purpleColor;
       }

       &.ipaye-agency-accountancy {
            background-color: @greenColor;
       }

       &.ipaye-agency-spi {
            background-color: @orangeColor;
       }



    @media @tablet-small {
         margin-bottom: 10px;
    }


        list-style-type: none !important;


    }
}

.list-working-uk {
    justify-content: flex-start;

    @media @tablet-small {
        justify-content: center;
    }


    li {
        &.active-tab {
            background-color: fade(@purpleColor, 70%)
        }
    }
}


.list-working-eu {
    justify-content: flex-start;
    
    @media @tablet-small {
        justify-content: center;
    }


    li {
        &.active-tab {
            background-color: fade(@purpleColor, 70%)
        }
    }
}



