.company-bio {

	.width(100%);
	.overflow-hidden;
	
	.bio-description {
		
		.overflow-hidden;
		max-width: 960px;
		.margin-auto;
		margin-bottom: 20px;

		@media (min-width:320px) {
			padding: 15px;
		}

		@media (min-width:992px) {
			padding: 80px 40px 40px 40px;
		}

        a {
            color: @orangeColor;
            text-decoration: underline;
        }

		.inner-wrapper-bio {
			
			.margin-auto;
			.relative;

			@media (min-width:320px) {
				.width(100%);
			}

			@media (min-width:768px) {
				.width(90%);
			}

			.bio-top-header {
				.overflow-hidden;
				margin-bottom: 40px;
				.width(100%);
				.center-align;
			}

			.team-thumb {
				.block;
    			.overflow-hidden;
    			.relative;
                background-repeat: no-repeat;
                /*background-size: auto 100%;*/
                background-size: cover;
                background-position: 50% 50%;
                border-radius: 100%;
            	
            	margin: 0 auto 10px auto;

            	@media (min-width:320px) {
            		width:30%;
            	}

            	@media (min-width:641px) {
            		width:20%;
            	}

            	@media (min-width:1920px) {
            		width:25%;
            	}
 
            	img {
            		.block;
            		max-width: 100%;
            		height: auto;
            	}

                &:before {
                    .float(left);
                    content: "";
                    padding-bottom: 100%;
                }

                &:after {
                    display: table;
                    clear: both;
                    content: "";
                }
			}

			p {
                font-size: 1.6rem;
                margin-bottom: 15px;

                &:last-child {
                    margin-bottom: 0px;
                }

            }

            .close-panel-team {
            	background-image: url('@{img-gfx}/close-panel-team.svg');
            	background-position: 50% 50%;
            	background-repeat: no-repeat;
            	background-size: 50% auto;
            	.width(50px);
            	.height(50px);
            	.center-align;
            	.top(0);
            	.absolute;
            	cursor: pointer;
            	.z-index(99998);
            	.right(5px);
        }

			.bio-inner-title {
				.block;
				.center-align;
				.margin-auto;
				max-width:480px;

				.person-title {
					font-size: 2.6rem;
                    font-weight: 800;
                    margin-bottom: 7px;

                    @media @tablet-medium {
                        font-size: 2.0rem;
                    }

                    @media @mobile {
                        font-size: 1.8rem;
                    }
				}

				.position-bio {
					font-size: 2.0rem;
                    font-weight: 600;

                     @media @tablet-medium {
                        font-size: 1.6rem;
                    }

                    @media @mobile {
                        font-size: 1.4rem;
                    }


                    &:after {
                        .block;
                        content:"";
                        margin:15px auto 0 auto;
                        .height(0);
                        .width(30px);
                        border-top: 2px solid @greyColor;
                    }
				}
			}
		}

	}
}