// Testimonials

.testimonial-container {
	padding-bottom: 20%;
	.width(100%);
	.relative;
	.group-clearfix;
	

	@media (min-width:320px) {
		.height(auto);
	}

	@media (min-width:1170px) {
		.height(100vh);
	}

	.footer-testimonial-rotator {
		margin: 0 auto;
		.width(100%);
		.relative;
		.height(7rem);
		padding: 10px 0;

		.arrows {
			.absolute;
			.width(5rem);
			.height(5rem);
			.block;
			cursor: pointer;
			color: @whiteColor;
			background-size: 25% auto;
			background-repeat: no-repeat;
			background-position: 50% 50%;
			.z-index(100);

			.top(50%);
			.translate(0,-50%);

			@media (min-width:1170px) {
				.border-radius(50%);
				.width(7rem);
				.height(7rem);
				background-size: 25% auto;
			}

			&.purple-arrow {
				background-color: @purpleColor;
			}

			&.green-arrow {
				background-color: @greenColor;
			}

			&.orange-arrow {
				background-color: @orangeColor;
			}

			&.prev {
				.left(0);
				background-image: url('@{img-gfx}/prev-test.svg');

			}

			&.next {
				.right(0);
				background-image: url('@{img-gfx}/next-test.svg');
			}
		}

	}

	.testimonials-slider {
		.width(100%);
		.relative;
		.group-clearfix;

		&.owl-carousel {

			.owl-dots {
            	.center-align;
	             .overflow-hidden;
	             .width(100%);
	             .absolute;
	             .bottom(-60px);
	             .z-index(90);

	             .owl-dot {

	                .inline-block;
	                    span {
	                      border-radius:50%;
	                      background: @purpleColor;
	                      .width(15px);
	                      .height(15px);
	                      margin:7px 5px;
	                      .block;
	                }

	                &.active {
	                    span {
	                        background: @greenColor;
	                    }
	                }
	            }
	    	}
		}

		.slide-testimonials {
			.width(100%);
			.float(left);
			.relative;

		.testimonial-wrapper {
			margin: 0 auto;
			.relative;
			background-color: transparent;
			color: @whiteColor;
			.center-align;
			.z-index(90);

			@media (min-width:320px) {
				&.purple-wrapper {
					background-color: @whiteColor;
					color: @purpleColor;
				}

				&.orange-wrapper {
					background-color: @whiteColor;
					color: @orangeColor;
				}

				&.green-wrapper {
					background-color: @whiteColor;
					color: @greenColor;
				}
			}


			@media (min-width:1170px) {
				&.purple-wrapper {
					background-color: transparent;
					color: @whiteColor;
				}

				&.orange-wrapper {
					background-color: transparent;
					color: @whiteColor;
				}

				&.green-wrapper {
					background-color: transparent;
					color: @whiteColor;
				}
			}

			&:after {
				
				padding-bottom: 60%;
				.width(60%);
				.height(0);
				content: "";
				border-radius: 50%;
				-webkit-border-radius: 50%;
				.margin-auto;
				
				@media (min-width:320px) {
					.none;

				}


				@media (min-width:1170px) {
					padding-bottom: 80%;
					.width(80%);
					.block;
				}

				@media (min-width:1280px) {
					padding-bottom: 75%;
					.width(75%);
					.block;
				}

				@media (min-width:1366px) {
					padding-bottom: 70%;
					.width(70%);
					.block;
				}

				@media (min-width:1680px) {
					padding-bottom: 62%;
					.width(62%);
					.block;
				}
			}

			&.purple-wrapper {
				&:after {
					background-color: @purpleColor;
				}
			}


			&.orange-wrapper {
				&:after {
					background-color: @orangeColor;
				}
			}

			&.green-wrapper {
				&:after {
					background-color: @greenColor;
				}
			}

			.image-circle {
				.height(auto);
				.absolute;
				.z-index(-1);
				border-radius: 50%;
				-webkit-border-radius: 50%;
				color: @whiteColor;
				.center-align;
				.background-image;

				&.middle-circle {
					background-color: @whiteColor;
					.width(30%);
					padding-bottom: 30%;
					opacity: 0;


					@media (min-width:320px) {
						.none;
					}

					@media (min-width:1170px) {
						.left(10%);
						.top(20%);
						.block();
					}


					@media (min-width:1680px) {
						.left(20%);
						.top(20%);
					}



					&.test-1 {
						background-image: url('@{img-gfx}/team-4.jpg');
					}

					&.test-4 {
						background-image: url('@{img-gfx}/team-1.jpg');
					}
				}

				&.small-circle {
					background-color: @whiteColor;
					.width(15%);
					padding-bottom: 15%;
					.right(30%);
					.top(15%);
					opacity: 0;

					@media (min-width:320px) {
						.none;
					}

					@media (min-width:1170px) {
						.block;
					}

					&.test-2 {
						background-image: url('@{img-gfx}/team-2.jpg');
					}

					&.test-5 {
						background-image: url('@{img-gfx}/team-7.jpg');
					}
				}


				&.bottom-circle {
					background-color: @whiteColor;
					.width(18%);
					padding-bottom: 18%;
					
					opacity: 0;
					.scale(0);

					@media (min-width:320px) {
						.none;
					}

					@media (min-width:1170px) {
						.right(0);
						.bottom(10%);
						.block;
					}


					@media (min-width:1680px) {
						.right(2%);
						.bottom(10%);
					}

					&.test-3 {
						background-image: url('@{img-gfx}/team-3.jpg');
					}

					&.test-6 {
						background-image: url('@{img-gfx}/team-5.jpg');
					}
				}
			}


				.testimonial-inner {

					p {
						margin-bottom: 5px;

						&:last-of-type {
							font-weight: 800;
						}

						&:last-child {
							margin-bottom:0;
						}
					}

					.testimonial-headers {
						.center-align;
						margin-bottom:30px;

						.testimonial-name {
							
							 margin-bottom: 5px;

							 @media (min-width:320px) {
							 	 .font-bold(@mediumFont, 2.4rem);
							 }

							 @media (min-width:1680px) {
							 	 .font-bold(@mediumFont, 2.6rem);
							 }

							 @media (min-width:1920px) {
							 	 .font-bold(@mediumFont, 2.8rem);
							 }
						}

						.testimonial-company {
							
							 @media (min-width:320px) {
							 	.font-medium(@mediumFont, 1.6rem);
							 }

							  @media (min-width:1680px) {
							 	 .font-medium(@mediumFont, 1.8rem);
							 }

							 @media (min-width:1920px) {
							 	 .font-medium(@mediumFont, 2.0rem);
							 }
						}
					}

					@media (min-width:320px) {
						.relative;
						max-width: 100%;
						.top(0);
						.left(auto);
						.width(100%);
						max-height: 100%;
						.translate(0,0);
						.overflow-hidden;
						padding: 0 0 30px 0;
					}

					@media (min-width:1170px) {
						max-width: 500px;
						.absolute;
						.top(50%);
						.left(50%);
						.translate(-50%,-50%);

						overflow-x: hidden;
						overflow-y: auto;
						padding: 2%;

						p {
							font-size: 1.4rem;
						}

					}

					@media (min-width:1680px) {
						max-width: 500px;

						p {
							font-size: 1.6rem;
						}

					}

					@media (min-width:1920px) {
						max-width: 600px;

						p {
							font-size: 1.8rem;
						}

					}
				}
			}
		}
	}
}

