

.main-wrapper {
    .width(100%);
    overflow: hidden;
    .relative;
    min-height: 100vh;

    /*Left panel*/
    .left-panel-wrapper {
        .width(30%);
        .height(100%);
        .bottom(0);
        .fixed;
        .left(0);
        .z-index(120);
        .top(0);
        padding-top:120px;
        background-color: @whiteColor;

        &.category-panel {
           .category-wrapper {
                .left-align;
                .width(100%);
                .float(left);
                padding-left: 20%;
                margin:40px 0;

                @media @tablet-medium {
                    padding:0;
                    .float(none);
                    .center-align;
                }

                .category-list {
                   
                    li {

                        margin-bottom: 15px;
                        .block;
                        .center-align;
                        color: @whiteColor;
                        cursor: pointer;
                        padding: 20px 10px;
                        font-size: 1.6rem;
                        font-weight: 800;

                        @media (min-width:320px) {
                            font-size: 1.6rem;
                        }

                        @media (min-width:1680px) {
                            font-size: 1.8rem;
                        }

                        @media (min-width:1920px) {
                            font-size: 2.0rem;
                        }

                        &.all-btn {
                            background: @greyColor;
                        }

                        &.ipaye-blog {
                            background: @purpleColor;
                        }

                        &.accountancy-blog {
                            background: @greenColor;
                        }

                        &.spi-blog {
                            background: @orangeColor;
                        }



                        &:last-child {
                            margin-bottom: 0;
                            @media @tablet-medium {
                                 border-bottom: none;
                            }
                        }
                    }
                }
            }
        }

        &.contact-us-panel {

            .email-wrapper {
                margin: 15px 0;
            }
            .contact-panel-links {
                .block;
               
                @media (min-width:320px) {
                     .font-medium(@mediumFont,1.8rem,800);
                }


                @media (min-width:992px) {
                     .font-medium(@mediumFont,1.6rem,800);
                }


                @media (min-width:1280px) {
                     .font-medium(@mediumFont,1.5rem,800);
                }

                @media (min-width:1680px) {
                     .font-medium(@mediumFont,1.8rem,800);
                }



                &.purple-links {
                    color: @purpleColor;
                }

                &.orange-links {
                    color: @orangeColor;
                }
            }
        }

        .bck-top,
        .bck-top-purple

         {
            .top(0);
            .z-index(115);
            .width(100%);
            background-image: none;
            background-repeat: no-repeat;
            background-position: 0 0;
            .none;
            .absolute;
            

            @media (min-width:1279px) {
                .block;
                 background-image: url('@{img-gfx}/panel-shape-top.png');
                 background-size: 48% auto;
                 height: 250px;
            }

            @media (min-width:1680px) {
                background-size: 45% auto;
                height: 300px;
            }

             @media (min-width:1920px) {
                background-size: 50% auto;
                height: 400px;
            }
        }

        .bck-top-purple {
            @media (min-width:1279px) {
                .block;
                 background-image: url('@{img-gfx}/panel-shape-purple.png');
                 background-size: 48% auto;
                 height: 250px;
            }

            @media (min-width:1680px) {
                background-size: 45% auto;
                height: 350px;
            }

             @media (min-width:1920px) {
                background-size: 50% auto;
                height: 400px;
            }
        }

        .bck-bottom,
        .bck-bottom-purple

         {
             .bottom(0);
            .z-index(115);
            .width(100%);
            .absolute;
            background-image: none;
            background-repeat: no-repeat;
            background-position: 50% 100%;
            .none;


            @media (min-width:1280px) {
                .block;
                 background-image: url('@{img-gfx}/panel-shape-bottom.png');
                 background-size: 70% auto;
                 height: 90px;
            }

            @media (min-width:1680px) {
                background-size: 75% auto;
                height:110px;
            }

             @media (min-width:1920px) {
                background-size: 80% auto;
                height:220px;
            } 
        }

        .bck-bottom-purple {
            @media (min-width:1280px) {
                .block;
                 background-image: url('@{img-gfx}/panel-shape-purple-bottom.png');
                 background-size: 70% auto;
                 height: 90px;
            }

            @media (min-width:1680px) {
                background-size: 75% auto;
                height:110px;
            }

             @media (min-width:1920px) {
                background-size: 80% auto;
                height:220px;
            } 
        }

        .left-content-scroll {
            overflow-y: auto;
            overflow-x: hidden;
            .left(0);
            .z-index(100);
            .absolute;
            .top(90px);
            .bottom(120px);
            .width(100%);
            padding:0;

            @media @desktop-normal {
                .bottom(80px);
            }

            @media @tablet-medium {
                position: static;
                padding: 0;
                .overflow-hidden;
                margin-bottom: 30px;
                .top(auto);
            }

            .panel-content {
                .width(100%);
                .overflow-hidden;
                .center-align;
                .relative; 

                &.vertical-top-content {
                    .relative;
                    @media (min-width:320px) {
                        .top(0);
                        .translate(0,0);
                    }

                    @media (min-width:992px) {
                        .top(50%);
                        .translate(0,-50%);
                    }

                    .category-wrapper {
                        .center-align;
                    }
                }

                @media (min-width:320px) {
                    .top(0);
                    .translate(0,0);
                    padding-left: 1.5rem;
                    padding-right: 1.5rem;
                }


                @media (min-width:641px) {
                    padding-left: 3.0rem;
                    padding-right: 3.0rem;
                }


                @media (min-width:1680px) {
                    .top(50%);
                    .translate(0,-50%);
                }

                .panel-content-inside {
                    .margin-auto;
                    max-width: 70rem;
                    overflow: hidden;

                    &.vertical-inside {
                        @media (min-width:992px) {
                            padding-top: 35%;
                        }
                    }

                     &.vertical-inside {
                        @media (min-width:1366px) {
                            padding-top: 20%;
                        }
                    }

                      &.vertical-inside {
                        @media (min-width:1920px) {
                            padding-top: 20;
                        }
                    }

                    @media @desktop-large {
                         max-width: 50rem;
                    }

                    @media @mobile{
                        max-width: 100%;
                    }

                    .logo-icon-panel {
                         margin: 0 auto 30px auto;
                        .center-align;

                        .company-logo {
                            .block;
                        }

                        @media (min-width:320px) {
                            width: 50%;
                        }

                        @media (min-width:641px) {
                            width: 40%;
                        }

                        @media (min-width:992px) {
                            width: 65%;
                        }

                         @media (min-width:1366px) {
                            width: 50%;
                        }

                        @media (min-width:1680px) {
                            width: 70%;
                        }

                        .panel-logo {
                             .margin-auto;
                             .center-align;
                             max-width: 100%;
                             .height(auto);
                        }
                    }

                     .content-panel-text {
                        .overflow-hidden;
                        margin-bottom: 15px;


                        p {
                            font-weight: 700;
                            .center-align;

                            @media (min-width:320px) {
                                font-size: 1.4rem;
                            }

                            @media (min-width:1680px) {
                                font-size: 1.6rem;
                            }
                        }

                    }

                    .panel-contact-details {
                        .overflow-hidden;
                        .width(80%);
                        .margin-auto;
                        margin-top: 15px;

                        br {
                            .none;
                            .height(0);
                            line-height: 0;
                        }

                        .contact-h {
                            @media (min-width:320px) {
                                font-size: 2.0rem;
                            }

                            @media (min-width:992px) {
                                font-size: 2.2rem;
                            }

                            @media @desktop-large {
                                font-size: 2.0rem;
                            }

                            padding-bottom: 5px;

                            &.contact-ipaye {
                                color: @purpleColor;
                            }

                            &.contact-spi {
                                color: @orangeColor;
                            }
                        }


                        @media @desktop {
                             .width(100%);
                        }

                        p {
                            font-weight: 800;
                            .center-align;
                            line-height: 1.4;

                            @media (min-width:320px) {
                                font-size: 1.8rem;
                            }

                           @media (min-width:992px) {
                                font-size: 1.4rem;
                            }

                             @media (min-width:1280px) {
                                font-size: 1.4rem;
                            }

                            @media (min-width:1680px) {
                                font-size: 1.8rem;
                            }
                        }

                        .panel-contact-number {
                            .block;
                            font-weight: 800;
                            font-size: 2.0rem;

                            @media @desktop {
                                font-size: 1.8rem;
                            }

                            &.green-contact {
                                color: @greenColor;
                            }

                            &.orange-contact {
                                 color: @orangeColor;
                            }
                        }

                        .panel-left-email {
                            .inline-block;
                            color: @orangeColor;
                            font-size: 1.6rem;
                        }


                        &.purple-details {
                            color: @purpleColor;
                            p {
                                color: inherit;
                            }

                            .panel-contact-number {
                                color: @purpleColor;

                                &.orange-contact {
                                 color: @orangeColor;
                                }
                            }
                        }

                        &.green-details {
                            color: @greenColor;
                            p {
                                color: inherit;
                            }

                            a {
                                color: @purpleColor;
                            }
                        }

                        &.orange-details {
                            color: @orangeColor;
                            p {
                                color: inherit;
                            }

                            a {
                                color: @purpleColor;
                            }
                        }
                    }
                }
            }
        }

        @media @desktop {
            .width(30%); 
        }

        @media @desktop-large {
            .width(30%); 
        }

 
         @media @tablet-large {
            .width(30%);
        }

        @media @tablet-medium {
            position: static;
            .height(auto);
            .width(100%);
            margin-bottom: 20px;
            padding-top: 100px;
            
        }

        &.i-paye-left-panel {
            .panel-social-links {

               margin: 10px 0;

                &.purple-social {
                    li {
                        a {
                            &.twitter-purple-b {
                                background-image: url('@{img-gfx}/twitter-purple-b.svg');
                            }

                            &.linked-purple-b {
                                background-image: url('@{img-gfx}/linked-purple-b.svg');
                            }

                            &.google-purple-b {
                                background-image: url('@{img-gfx}/google-purple-b.svg');
                            }
                        }
                    }
                }

                &.orange-social {
                    li {
                        a {
                            &.twitter-orange-b {
                                 background-image: url('@{img-gfx}/twitter-orange-b.svg');
                            }

                            &.linked-orange-b {
                                background-image: url('@{img-gfx}/linked-orange-b.svg');
                            }

                            &.google-orange-b {
                                background-image: url('@{img-gfx}/google-orange-b.svg');
                            }
                        }
                    }
                }


                &.green-social {
                    li {
                        a {
                            &.twitter-green-b {
                                 background-image: url('@{img-gfx}/twitter-green-b.svg');
                            }

                            &.linked-green-b {
                                background-image: url('@{img-gfx}/linked-green-b.svg');
                            }

                            &.google-green-b {
                                background-image: url('@{img-gfx}/google-green-b.svg');
                            }
                        }
                    }
                }
            }
        }
    }

    .tiles-wrapper {

        .float(right);
        .width(70%);
        .height(auto);
        min-height:100vh;
        .overflow-hidden;

        &.change-index{
            .z-index(990)
        }

        @media @desktop {
            .width(70%);
        }

        @media @desktop-large {
            .width(70%); 
            
        }

        @media @tablet-large {
            .width(70%);
        }

        @media @tablet-medium {
            .float(left);
            .width(100%);
            z-index: 10;

        }

        @media @mobile {
            .float(none);
            .overflow-hidden;
            padding: 0 15px;
            .margin-auto;
        }

        .flip-tiles-wrapper {
            .width(100%);
            .float(right);
            padding-left: 5%;

             @media @tablet-medium {
                padding-left: 0;
             }

            &:after,
            &:before {
                content:"";
                display: table;
                .height(0);
                line-height: 0;
            }

            &:after {
                clear: both;
            }
        }

        .grid-footer {
            .absolute;
            .width(100%);
            .bottom(0);
            .height(150px);
        }
    }
}


/*Each tiles*/
.tile {
    .width(25%);
    .float(left);
    .relative;

    &:after {
        .block;
        content: "";
        padding-bottom: 100%;
    }

    @media (min-width:320px) {
         .width(100%);
    }


    @media (min-width:642px) {
         .width(50%);
    }

    @media (min-width:1024px) {
         .width(33.333%);
    }


    @media (min-width:1280px) {
         .width(25%);
    }


    
    .main-tile-link {
        .block;
        .left(0);
        .top(0);
        .width(100%);
        .height(100%);
        .absolute;
        .z-index(1020);
    }

    &.container-hover {
        -webkit-perspective: 1000 !important; 
        @media (min-width:1025px) {
             cursor: pointer;
        }
    } 
}

.flipper {
    .relative;
    opacity: 0;
    height: 100%;
    -webkit-transform-style: preserve-3d !important;

    .front-feature {
        .icon-wrapper {
            .center-align;
            .width(60%)

            img {
                .width(auto);
                .height(auto);
                max-height: 70px;
                vertical-align: middle;
                max-width: 100%;

                @media (min-width:320px) {
                      max-height: 100px;
                }


                @media (min-width:641px) {
                      max-height: 70px;
                }

                 @media (min-width:1680px) {
                      max-height: 140px;
                }


            }

        }
    }

    .front, 
    .back {
        .overflow-hidden;
        .width(99%);
        .absolute;
        .top(0);
        .left(0);
        .height(auto);
        -webkit-backface-visibility: hidden !important;
    }

    .front-feature,
    .back-feature {
        .overflow-hidden;
        .width(98%);
        .absolute;
        .top(0);
        .left(0);
        .height(auto);
        -webkit-backface-visibility: hidden !important;
    }

    .back .back-text-wrapper,
    .back-feature .back-text-wrapper,
    .back-text-wrapper-green,
    .back-text-wrapper-orange
     {
       
        .translate(-50%,-50%);
        .left(50%);
        .top(50%);
        .relative;
        max-width:100%;
        padding:0 5%;

        .back-text-inner {
            margin-bottom: 10px;
        }

        p,.tile-back-header {
            color: inherit;
        }

        p {
            font-size: 1.2rem;
            line-height: 1.4;

            @media @desktop-large {
            font-size: 1.4rem;
           }

            @media @desktop-tv{
                font-size: 1.6rem;
           }

        }

        .tile-back-header {
            margin-bottom: 5px;
            font-size: 1.6rem;

            @media @desktop-large {
                font-size: 1.8rem;
            }

            @media @desktop-tv{
                font-size: 2.0rem;
           }

        } 
    }


    .back .back-text-wrapper {
         color: @purpleColor;
    }

    /*.back-feature .back-text-wrapper {
         color: @purpleColor;
    }

    .back-feature .back-text-wrapper {
         color: @purpleColor;
    }*/


    .back-feature {
        &.purple-back {
           color: @purpleColor; 
        }
    }

    .back-feature {
        &.green-back {
           color: @greyColor;; 
        }
    }


    .back-feature {
        &.orange-back {
           color: @greyColor;; 
        }
    }


    .back-text-wrapper-green {
         color: @greyColor;
    }

    .back-text-wrapper-orange {
         color: @greyColor;
    }

    .icon-wrapper {
        margin: 0 0 20px 0;
        padding: 0;
        .width(100%);
        .block;
    }

    .header-tile,
    .header-tile-green,
    .header-tile-orange


     {
        @media (min-width:320px) {
             font-size:2.4rem;
        }

       @media @laptop-max {
            .center-align;
       }

        @media (min-width:1279px) {
             font-size:1.6rem;
        }

        @media (min-width:1440px) {
            font-size:1.8rem;
        }

          @media (min-width:1680px) {
            font-size:2.0rem;
        }

         @media (min-width:1920px) {
            font-size:2.4rem;
        }

        &.right-align {
            .right-align;
        }

        &.no-align {
            .left-align;

            @media @laptop-max {
                .center-align;
            }
        }

        &.center-align {
            .center-align;
        }

        &.center-position {
            max-width: 50%;
            .margin-auto;

            @media @laptop-max {
                max-width: 98%;
            }
        }

        &.no-icon-header {
            margin-bottom: 10px;
        }

        span{
            .block;
            letter-spacing: 0.5px;
        }
    }

    .front,
    .front-feature
    {

        .curve-bottom-top {
            max-width: 400px;
            .width(60%);
            .absolute;
            color: @whiteColor;
            .translate(0,-50%);
            .top(50%);
            .right(0px);
            max-height: 100%;

            .icon-wrapper {
                .width(80%);

                @media @laptop-max {
                    margin-right: auto;
                    margin-left: auto;
                    .center-align;
                    margin-bottom: 30px;
                } 
            }

            @media @laptop-max{
                .translate(-50%,-50%);
                .left(50%);
                .width(60%);
            }          
        }

    
        .bottom-slider-area  {
            .relative;
            .top(50%);
            .translate(0,-50%);
        }

    
        .tab-slider {

            .owl-item {
                -webkit-backface-visibility: hidden;
                -webkit-transform: translateZ(0) scale(1.0, 1.0);
                backface-visibility: hidden;
                transform: translateZ(0) scale(1.0, 1.0);

                &.active {
                    opacity:1;
                    transform:scale(1);
                    -webkit-transform:scale(1);
                }
            }

            .text-rotator {
                z-index:1;
                .slide-item {
                     &.text-item {
                        padding-bottom: 15px;
                       .header-tile {
                         /*-webkit-font-smoothing: subpixel-antialiased;
                         -webkit-transform: translate3d(0,0,0); 
                         -moz-transform: translate3d(0,0,0);*/ 
                         opacity: 1;

                       }
                    }
                }
            }

            .thumbnail-rotator {
                .slide-item {

                    &.image-item {
                        .margin-auto;
                        .relative;
                        color: @whiteColor;
                        .center-align;
                        .z-index(90);
                        .width(90%);
                        .border-radius(50%);
                        .background-image;
                        opacity: 1;
                        .scale(1);

                        &.contractor-1 {
                            background-image: url('@{img-gfx}/contractor-1.jpg');
                        }

                        &.contractor-2 {
                            background-image: url('@{img-gfx}/contractor-2.jpg');
                        }


                        &:before {
                            
                            content: "";
                            .float(left);
                            padding-bottom: 100%;
                        }

                        &:after {
                            clear: both;
                            content: "";
                            display: table;
                        }
                    }
                }
            }


                    .owl-dots {
                        .center-align;
                         .overflow-hidden;
                         .width(100%);
                         .absolute;
                         .bottom(0);
                         .z-index(99999);

                         .owl-dot {

                            .inline-block;
                                span {
                                  border-radius:50%;
                                  background: @whiteColor;
                                  .width(10px);
                                  .height(10px);
                                  margin:7px 5px;
                                  .block;
                            }
                        }
                    }

        }


        .curve-middle-left,
        .curve-middle-left-p,
        .curve-middle-left-o,
        .curve-middle-left-g {
             max-height: 100%;
            max-width: 400px;
            .width(80%);
            .relative;
            .left(50%);
            .translate(-50%,-50%);
            .top(50%);

            .icon-wrapper {
                width: 50%;
                margin: 0 auto 20px auto;

                @media @laptop-max {
                    margin-bottom: 30px;
                }

                img {
                    text-align: center;
                    margin: 0 auto;
                }
            }
        }


        .curve-middle-left {
           
            color:@whiteColor;

            .header-tile {
                @media @laptop-max {
                    color: @purpleColor;
                }
            }

            .header-tile-green {
                @media @laptop-max {
                    color: @greenColor;
                }
            }


            .header-tile-orange {
                @media @laptop-max {
                    color: @orangeColor;
                }
            }

            
        }

        .curve-middle-left-p {

            color:@whiteColor;

            .header-tile {
                @media @laptop-max {
                    color:@whiteColor;
                }
            }

            .header-tile-green {
                @media @laptop-max {
                    color:@whiteColor;
                }
            }

            .header-tile-orange {
                @media @laptop-max {
                    color:@whiteColor;
                }
            }
        }

        .curve-middle-left-o {

            color:@whiteColor;
            
            .header-tile {
                @media @laptop-max {
                    color:@whiteColor;
                }
            }

            .header-tile-green {
                @media @laptop-max {
                    color:@whiteColor;
                }
            }

            .header-tile-orange {
                @media @laptop-max {
                    color:@whiteColor;
                }
            }

        }

        .curve-middle-left-g {

            color:@whiteColor;
            
            .header-tile-green {
                @media @laptop-max {
                    color:@whiteColor;
                }
            }

        }

        .no-curve-wrapper {
            .relative;
            max-width: 400px;
            .translate(-50%,-50%);
            .top(50%);
            .left(50%);
            max-height: 100%;
            .width(80%);

            &.white-no-curve {
                color: @purpleColor;
            }

            &.green-no-curve {
                color: @greenColor;
            }

             &.orange-no-curve {
                color: @orangeColor;
            }
        }

        .curve-middle-middle-green,
        .curve-middle-middle-orange,
        .curve-middle-middle {
            .relative;
            max-width: 400px;
            .translate(-50%,-50%);
            .top(50%);
            .left(50%);
            max-height: 100%;
            .width(80%);
            

            &.online-curve {
                .header-tile {

                    @media @laptop-max {
                        color: @purpleColor;
                    }
                }


                .header-tile-green {

                    @media @laptop-max {
                        color: @greenColor;
                    }
                }

                .header-tile-orange {

                    @media @laptop-max {
                        color: @orangeColor;
                    }
                }
            }

            &.testimonial-curve {
                .header-tile {

                    @media @laptop-max {
                        color: @whiteColor;
                    }

                     @media @tablet-large {
                        color: @purpleColor;  
                    }

                    @media @mobile {
                        color: @whiteColor;  
                    }
                }


                .header-tile-green {

                    @media @laptop-max {
                        color: @whiteColor;
                    }

                     @media @tablet-large {
                        color: @greenColor;  
                    }

                    @media @mobile {
                        color: @whiteColor;  
                    }
                }


                .header-tile-orange {

                    @media @laptop-max {
                        color: @whiteColor;
                    }

                     @media @tablet-large {
                        color: @orangeColor;  
                    }

                    @media @mobile {
                        color: @whiteColor;  
                    }
                }
            }


            .icon-wrapper {
                width: 34%;
                margin: 0 auto 10px auto;

                img {
                    text-align: center;
                    margin: 0 auto;
                }
            }

            p {
                font-size: 1.4rem;
                font-family: @boldFont;

                @media @desktop-large {
                    font-size: 1.4rem;
                }

                @media @desktop-tv {
                    font-size: 1.6rem;
                }
            }

            .testimonial-grid-rotator {

                &.green-rotator {
                    .pagination-list-testimonials {
                        li {


                            span {

                            @media @tablet-large {
                                background-color: @greenColor;
                            }

                            @media @mobile {
                                background-color: @whiteColor;
                            }
                            
                        }

                             &.activePag {
                                span {
                                    background-color: @purpleColor;
                                }
                             }
                        }
                    }
                }

                &.orange-rotator {
                    .pagination-list-testimonials {
                        li {


                            span {

                            @media @tablet-large {
                                background-color: @orangeColor;
                            }

                            @media @mobile {
                                background-color: @whiteColor;
                            }
                            
                        }

                             &.activePag {
                                span {
                                    background-color: @purpleColor;
                                }
                             }
                        }
                    }
                }

                .group-clearfix;
                .width(100%);
                .relative;

                .viewport {
                    .relative;
                    .overflow-hidden;
                    .width(100%);
                    .height(100%);

                    .slides-wrapper {

                        .relative;
                        .height(100%);
                        .overflow-hidden;
                        display: table;

                        .slide {
                            .height(auto);
                            vertical-align: top;
                            display: table-cell;
                            padding-bottom: 15px;
                            .overflow-hidden;

                            .slide-content {
                                .relative;
                                .height(100%);
                                .overflow-hidden;
                                .float(left);
                                .width(100%);
                                padding: 5px;

                                a {
                                    .inline-block;
                                    .left-align;
                                    border-bottom: 2px solid @whiteColor;
                                    color: @whiteColor;
                                    margin-top: 10px;
                                    padding-bottom: 2px;
                                }
                            }
                        }

                    }
                }

                .pagination-list-testimonials {
                    .center-align;
                    .overflow-hidden;
                    .absolute;
                    .bottom(-10px);
                    .left(50%);
                    .translate(-50%,0);

                    li {
                        .inline-block;
                        margin: 0 5px;

                        span {
                            .block;
                            .border-radius(50%);
                            .width(10px);
                            .height(10px);
                            background-color: @whiteColor;
                            cursor: pointer;

                            @media @tablet-large {
                                background-color: @purpleColor;
                            }

                            @media @mobile {
                                background-color: @whiteColor;
                            }
                        }

                        &.activePag {
                            span {
                                 background-color: @greenColor; 
                            }
                        }
                    }


                }
                
            }
        }

        .curve-middle-middle {
            color: @whiteColor;

            @media @tablet-large {
                color: @purpleColor; 
            }

            @media @mobile {
                color: @whiteColor; 
            }

             &.online-curve {
                @media @tablet-large {
                    color: @purpleColor;  
                }

                @media @mobile {
                    color: @whiteColor; 
                }
             }
        }


        .curve-middle-middle-green {
            color: @whiteColor;

            @media @tablet-large {
                color: @greenColor; 
            }

            @media @mobile {
                color: @whiteColor; 
            }

             &.online-curve {
                @media @tablet-large {
                    color: @greenColor;  
                }

                @media @mobile {
                    color: @whiteColor; 
                }
             }
        }


        .curve-middle-middle-orange {
            color: @whiteColor;

            @media @tablet-large {
                color: @orangeColor; 
            }

            @media @mobile {
                color: @whiteColor; 
            }

             &.online-curve {
                @media @tablet-large {
                    color: @orangeColor;  
                }

                @media @mobile {
                    color: @whiteColor; 
                }
             }
        }

        .top-curve-right,
        .top-curve-right-w,
        .top-curve-right-o,
        .top-curve-right-g {
            .relative;
            .left(10%);
            max-width: 400px;
            .translate(0,-50%);
            .top(50%);
            max-height: 100%;
            .width(60%);

            .icon-wrapper {
                    width: 50%;
                    margin: 0 auto 10px auto;

                    &.no-margin {
                        margin:0;
                            @media @laptop-max {
                                margin-right: auto;
                                margin-left: auto;
                        }
                    }

                    @media @laptop-max {
                        margin-bottom: 25px;
                    }

                img {
                    text-align: center;
                    margin: 0 auto;
                }
            }

        }


        .top-curve-right {
            color:@whiteColor;

            .header-tile {
                @media @laptop-max {
                    color: @purpleColor;
                }

                @media @tablet-large {
                    color: @whiteColor;
                }

                @media @mobile {
                    color: @purpleColor;
                }
            }

            @media @laptop-max {
                .width(70%);
                .translate(-50%,-50%);
                .left(50%);

            }

            .header-tile-green {
                @media @laptop-max {
                    color: @greenColor;
                }

                @media @tablet-large {
                    color: @whiteColor;
                }

                @media @mobile {
                    color: @greenColor;
                }
            }

            @media @laptop-max {
                .width(70%);
                .translate(-50%,-50%);
                .left(50%);

            }

            .header-tile-orange {
                @media @laptop-max {
                    color: @orangeColor;
                }

                @media @tablet-large {
                    color: @whiteColor;
                }

                @media @mobile {
                    color: @orangeColor;
                }
            }

            @media @laptop-max {
                .width(70%);
                .translate(-50%,-50%);
                .left(50%);

            }
        }


        .top-curve-right-w {
            color:@whiteColor;

            .header-tile {
                @media @laptop-max {
                    color: @whiteColor;
                }
            }


            .header-tile-green {
                @media @laptop-max {
                    color: @whiteColor;
                }
            }

            .header-tile-orange {
                @media @laptop-max {
                    color: @whiteColor;
                }
            }

            @media @laptop-max {
                .width(70%);
                .translate(-50%,-50%);
                .left(50%);

            }

        }

        .top-curve-right-o {

            .header-tile {
                @media @laptop-max {
                    color: @orangeColor;
                }
            }

            @media @laptop-max {
                .width(70%);
                .translate(-50%,-50%);
                .left(50%);

            }
            
        }

        .top-curve-right-g {

            .header-tile {
                @media @laptop-max {
                    color: @greenColor;
                }
            }

            @media @laptop-max {
                .width(70%);
                .translate(-50%,-50%);
                .left(50%);

            }
            
        }

        .top-curve-middle {
            .relative;
            max-width: 400px;
            .translate(-50%,-50%);
            .top(50%);
            .left(50%);
            max-height: 100%;
            .width(80%);
            color: @whiteColor;

            .header-tile {
                @media @tablet-large {
                    color: @purpleColor;
                }

                @media @mobile {
                    color: @whiteColor;
                }
            }

            .header-tile-green {
                @media @tablet-large {
                    color: @greenColor;
                }

                @media @mobile {
                    color: @whiteColor;
                }
            }


            .header-tile-orange {
                @media @tablet-large {
                    color: @orangeColor;
                }

                @media @mobile {
                    color: @whiteColor;
                }
            }

            .icon-wrapper {
                    width: 40%;
                     margin: 0 auto 20px auto;

                img {
                    text-align: center;
                    margin: 0 auto;
                }
            }
        }

        .middle-right-curve,
        .middle-right-curve-p,
        .middle-right-curve-o,
        .middle-right-curve-g {
            .relative;
            .left(10%);
            max-width: 400px;
            .translate(0,-50%);
            .top(50%);
            max-height: 100%;
            .width(60%);

            @media @laptop-max {
                 .width(70%);
                 .translate(-50%,-50%);
                 .left(50%);
            }

            .icon-wrapper {
                    width: 50%;
                   margin: 0 auto 20px auto;

                   @media @laptop-max {
                    margin-bottom: 12px;
                   }

                img {
                    text-align: center;
                    margin: 0 auto;
                }
            }
        }


        .middle-right-curve {

            color:@whiteColor;

            .header-tile {
                @media @laptop-max {
                    color: @purpleColor;
                }

                @media @tablet-large {
                    color: @whiteColor;
                }

                @media @mobile {
                    color: @purpleColor;
                }
            }


            .icon-wrapper {
                .width(45%);
            }


            .header-tile-green {
                @media @laptop-max {
                    color: @greenColor;
                }

                @media @tablet-large {
                    color: @whiteColor;
                }

                @media @mobile {
                    color: @greenColor;
                }
            }


            .header-tile-orange {
                @media @laptop-max {
                    color: @orangeColor;
                }

                @media @tablet-large {
                    color: @whiteColor;
                }

                @media @mobile {
                    color: @orangeColor;;
                }
            }
        }

        .middle-right-curve-p {
            color:@whiteColor;

            .header-tile {
                @media @laptop-max {
                     color:@whiteColor;
                }
            }


            .header-tile-green {
                @media @laptop-max {
                     color:@whiteColor;
                }
            }

            .header-tile-orange {
                @media @laptop-max {
                     color:@whiteColor;
                }
            }

            .icon-wrapper {
                .width(70%);
            }
        }

        .middle-right-curve-o {
            color:@whiteColor;
            .header-tile {
                @media @laptop-max {
                     color:@whiteColor;
                }
            }

            .icon-wrapper {
                .width(60%);
            }

            .header-tile-green {
                @media @laptop-max {
                     color:@whiteColor;
                }
            }

            .header-tile-orange {
                @media @laptop-max {
                     color:@whiteColor;
                }
            }
        }

        .middle-right-curve-g {
            color:@whiteColor;

            .header-tile {
                @media @laptop-max {
                     color:@whiteColor;
                }
            }
        }

        .curve-top-middle {
             max-width: 400px;
            .width(60%);
            .absolute;
            color: @whiteColor;
            .top(52%);
            .right(18px);
            max-height: 100%;
            .translate(0,-50%);


            @media @laptop-max {
                .translate(-50%,-50%);
                .width(70%);
                .right(0);
                .left(50%);
            }

            .icon-wrapper {
                width: 80%;
                margin: 0 auto 20px auto;

                img {
                    text-align: center;
                    margin: 0 auto;
                }
            }
        }

        .curve-bottom-left {
             max-width: 400px;
            .width(60%);
            .absolute;
            color: @whiteColor;
            .top(50%);
            .right(22px);
            max-height: 100%;
            .translate(0,-50%);

            &.longer-tile {
                .width(70%);
                .icon-wrapper {
                     .width(47%);
                }
            }

            @media @laptop-max {
                .width(70%);
                .right(0);
                .left(50%);
                .translate(-50%,-50%);
            }

            .icon-wrapper {
                width: 50%;
                margin: 0 auto 17px auto;

                img {
                    text-align: center;
                    margin: 0 auto;
                }
            }
        }
    }


    .front-feature {


        .top-curve-right,
        .top-curve-right-w,
        .top-curve-right-o,
        .top-curve-right-g {
            .left(10%);
            @media @laptop-max {
                .left(50%);
            }
        }


        .curve-middle-left,
        .curve-middle-left-p,
        .curve-middle-left-o,
        .curve-middle-left-g {
            

            .icon-wrapper {
                width:55%;
                margin: 0 auto;


                img {
                    text-align: center;
                    margin: 0 auto;
                }
            }
        }



        .top-curve-middle {
            .header-tile {
                color: @whiteColor;
            }

            .header-tile-green {
                color: @whiteColor;
            }

            .header-tile-orange {
                color: @whiteColor;
            }

            .icon-wrapper {
                .width(60%);
                margin-bottom: 0;
            }
        }

        .curve-bottom-top {

            .top(45%);
            .icon-wrapper {
                .width(50%);
                margin-bottom: 0;
            }
        }

        .curve-top-middle {
            .right(13%);
            .top(56%);
            .icon-wrapper {
                .width(60%);
                margin-bottom: 0;
            }
        }

        .curve-bottom-left {
            .icon-wrapper {
                .width(60%);
                margin-bottom: 0;

            }
        }

        .top-curve-right-w {
            .width(80%);
            .icon-wrapper {
                .width(60%);
                margin-bottom: 0;
            }
        }


        .middle-right-curve-p {
            .top(27%);
            .translate(0,0);

            .icon-wrapper {
                margin-bottom: 0;
            }

            @media @laptop-max {
                 .top(50%);
                 .translate(-50%,-50%);
            }
        }


         .icon-wrapper {
            margin-bottom: 0;
         }
        
    }

    .shape-card  {
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }

    .front-card {

        @media (min-width:320px) {
            background-image: none;
            background-color: @purpleColor; 
        }

        @media (min-width:1280px) {
            background-image: url('@{img-gfx}/first-shape.png');
            background-color: transparent;
        }
    }



    .green-card {
            @media (min-width:320px) {
                background-image: none;
                background-color: @greenColor; 
            }

            @media (min-width:1280px) {
                background-image: url('@{img-gfx}/first-shape-green.png');
                background-color: transparent;
            }
    }

    .orange-card {
            @media (min-width:320px) {
                background-image: none;
                background-color: @orangeColor; 
            }

            @media (min-width:1280px) {
                background-image: url('@{img-gfx}/first-shape-orange.png');
                background-color: transparent;
            }
    }

    .back-bottom-curve {
        background-image: none;
        color: @purpleColor;

        @media @laptop-max {
            background-image: none;
        }

        &.purple-back {
            @media @laptop-max{
                background-color: @whiteColor;
                .tile-white-cta {
                    background-color: @whiteColor;
                    border-color: @purpleColor;
                    color: @purpleColor;
                    &:hover {
                       background-color: @purpleColor; 
                       color: @whiteColor;
                    }
                }
            }
        }
    }

    .back-bottom-curve-green {
        background-image: none;
        color: @greyColor;
        @media @laptop-max {
            background-image: none;
        }

        &.green-back {
            @media @laptop-max {
                background-color: @whiteColor;
                .tile-green-cta {
                    background-color: @whiteColor;
                    border-color: @greyColor;
                    color: @greyColor;
                    &:hover {
                       background-color: @greyColor; 
                       color: @whiteColor;
                    }
                }
            }
        }
    }


    .back-bottom-curve-orange {
        background-image: none;
        color: @greyColor; 
        @media @laptop-max {
            background-image: none;
        }

        &.green-back {
            @media @laptop-max {
                background-color: @whiteColor;
                .tile-green-cta {
                    background-color: @whiteColor;
                    border-color: @greyColor;
                    color: @greyColor;;
                    &:hover {
                       background-color: @greyColor; 
                       color: @whiteColor;
                    }
                }
            }
        }
    }


     .top-right-purple {
        background-image: url('@{img-gfx}/grid-front.png');

        @media @laptop-max {
            background-image: none;
            background-color: @purpleColor;
        }
    }

    .top-right {
        background-image: url('@{img-gfx}/grid-front.png');

        @media @laptop-max {
            background-image: none;
            background-color: @whiteColor;
        }

        @media @tablet-large {
            background-color: @purpleColor;
        }

        @media @mobile {
            background-color: @whiteColor;
        }
    }


     .top-right-green {
        background-image: url('@{img-gfx}/grid-shape-left-g.png');

        @media @laptop-max {
            background-image: none;
            background-color: @whiteColor;
        }

        @media @tablet-large {
            background-color: @greenColor;
        }

        @media @mobile {
            background-color: @whiteColor;
        }


    }

    .top-right-g {
        background-image: url('@{img-gfx}/grid-shape-left-g.png');

        @media @laptop-max {
            background-image: none;
            background-color: @greenColor;
        }

       
    }



    .top-right-orange {
        background-image: url('@{img-gfx}/grid-front-o.png');

        @media @laptop-max{
            background-image: none;
            background-color: @whiteColor;
        }

        @media @tablet-large {
            background-color: @orangeColor;
        }

        @media @mobile {
            background-color: @whiteColor;
        }
    }


    .top-right-o{
        background-image: url('@{img-gfx}/grid-front-o.png');

        @media @laptop-max {
            background-image: none;
            background-color: @orangeColor;
        }

        
    }

    .back-top-right{
       background-image: none;


        &.purple-back {
            @media @laptop-max {
                background-color: @whiteColor;
                .tile-white-cta {
                    border-color: @purpleColor;
                    color: @purpleColor;
                    &:hover {
                        color: @whiteColor;
                        background-color: @purpleColor;
                    }
                }
            }
        }   
    }

    .purple-back-color {
        background-color: @whiteColor;
    }

    .front-left {
        background-image: url('@{img-gfx}/grid-shape-back.png');

        @media @laptop-max {
            background-image: none;
            background-color: @purpleColor;
        }
    }

    .front-left-green {
        background-image: url('@{img-gfx}/grid-shape-back-g.png');

        @media @laptop-max {
            background-image: none;
            background-color: @greenColor;
        }
    }

    .front-left-orange {
        background-image: url('@{img-gfx}/grid-shape-back-o.png');

        @media @laptop-max {
            background-image: none;
            background-color: @orangeColor;
        }
    }

    .back-left {
        background-image: none;

        &.purple-back {
            @media @laptop-max {
                background-color: @whiteColor;
                .tile-white-cta {
                    border-color: @purpleColor;
                    color: @purpleColor;
                    &:hover {
                        color: @whiteColor;
                        background-color: @purpleColor;
                    }
                }
            }
        }
    }

    .front-right-top-p {
        background-image: url('@{img-gfx}/first-back.png');

        @media @laptop-max {
            background: @purpleColor;
        }
    }

    .front-right-top-o {
        background-image: url('@{img-gfx}/first-back-o.png');

        @media @laptop-max {
            background: @whiteColor;
        }

        @media @tablet-large {
            background: @orangeColor;
        }

        @media @mobile {
            background: @whiteColor;
        }
    }


    .front-right-top-orange {
        background-image: url('@{img-gfx}/first-back-o.png');

        @media @laptop-max {
             background: @orangeColor;
        }
    }

    .front-right-top-g {
        background-image: url('@{img-gfx}/first-back-g.png');

        @media @laptop-max {
            background: @whiteColor;
        }

        @media @tablet-large {
            background: @greenColor;
        }

        @media @mobile {
            background: @whiteColor;
        }
    }


    .front-right-top-green {
        background-image: url('@{img-gfx}/first-back-g.png');

        @media @laptop-max {
             background: @greenColor;
        }
    }

    .front-right-top {
        background-image: url('@{img-gfx}/first-back.png');

        @media @laptop-max {
            background: @whiteColor;
        }

        @media @tablet-large {
            background: @purpleColor;
        }

        @media @mobile {
            background: @whiteColor;
        }
    }

    .front-right-bottom {
       background-image: none;

        @media @laptop-max {
            .tile-white-cta {
                color: @purpleColor;
                border-color: @purpleColor;

                &:hover {
                    background: @purpleColor;
                    color: @whiteColor;
                }

            }
        }
    }

    .face-purple {
        background: @purpleColor;

        &.face-choose {
            @media @laptop-max {
                background: @whiteColor;
            }
        }

        &.face-feature-p {
             @media @laptop-max {
                background: @purpleColor;
            }
        }

        &.face-portals {
            @media @laptop-max {
                background: @whiteColor;
            }
        }

        &.top-right {
            @media @laptop-max {
                background: @purpleColor;
            }

            @media @tablet-large {
                background: @whiteColor;
            }


         

            @media @mobile {
                background: @purpleColor;
            }
        }

        &.face-rotator {
            @media @tablet-large {
                background: @whiteColor;
            }

            @media @mobile {
                background: @purpleColor;
            }
        }
    }




    .face-green {
        background: @greenColor;

        &.face-choose {
            @media @laptop-max {
                background: @whiteColor;
            }
        }

        &.face-feature-p {
             @media @laptop-max {
                background: @greenColor;
            }
        }

        &.face-portals {
            @media @laptop-max {
                background: @whiteColor;
            }
        }

        &.top-right-green {
            @media @laptop-max {
                background: @greenColor;
            }

            @media @tablet-large {
                background: @whiteColor;
            }

            @media @mobile {
                background: @greenColor;
            }
        }

        &.face-rotator {
            @media @tablet-large {
                background: @whiteColor;
            }

            @media @mobile {
                background: @greenColor;
            }
        }
    }



    .face-orange {
        background: @orangeColor;

        &.face-choose {
            @media @laptop-max {
                background: @whiteColor;
            }
        }

        &.face-feature-p {
             @media @laptop-max {
                background: @orangeColor;
            }
        }

        &.face-portals {
            @media @laptop-max {
                background: @whiteColor;
            }
        }

        &.top-right-orange {
            @media @laptop-max {
                background: @orangeColor;
            }

            @media @tablet-large {
                background: @whiteColor;
            }

            @media @mobile {
                background: @orangeColor;
            }
        }

        &.face-rotator {
            @media @tablet-large {
                background: @whiteColor;
            }

            @media @mobile {
                background: @orangeColor;
            }
        }
    }

    .face-white {
        background: @whiteColor;
    }
}

.chat-container {
    .relative;
}


.social-icons-links {
    .center-align;
    .overflow-hidden;
    font-size: 0;
    line-height: 0;

    li {
        .inline-block;
        font-size: 1.6rem;
        line-height: 1;
        margin: 0 4px;

        a {
            .block;
            .width(34px);
            .height(28px);
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }
    }
}

/*Panel social*/
.social-panel-footer {
    .absolute;
    .z-index(60);
    .bottom(0);
    .left(0);
    .height(60px);
    .width(100%);

    .panel-social-nav {
        .relative;
        .top(50%);
        .translate(0,-50%);
        
        &.white-purple-socials {
            li {
                a {
                    &.twitter-purple {
                         background-image: url('@{img-gfx}/twitter-purple.svg');
                    }

                    &.linked-purple {
                        background-image: url('@{img-gfx}/linked-purple.svg');
                    }

                    &.google-purple {
                        background-image: url('@{img-gfx}/google-purple.svg');
                    }
                }
            }
        }


        &.orange-socials {
            li {
                a {
                    &.twitter-orange {
                         background-image: url('@{img-gfx}/twitter-orange.svg');
                    }

                    &.linked-orange {
                        background-image: url('@{img-gfx}/linked-orange.svg');
                    }

                    &.google-orange {
                        background-image: url('@{img-gfx}/google-orange.svg');
                    }
                }
            }
        }

        &.green-socials {
            li {
                a {
                    &.twitter-green {
                         background-image: url('@{img-gfx}/twitter-green.svg');
                    }

                    &.linked-green {
                        background-image: url('@{img-gfx}/linked-green.svg');
                    }

                    &.google-green {
                        background-image: url('@{img-gfx}/google-green.svg');
                    }
                }
            }
        }
    }
}



