
/*FONTS*/
@fontRegular:'Muli',Arial, Verdana,sans-serif;
@mediumFont:'Muli', Arial,Verdana,sans-serif;
@boldFont: 'Muli', Arial, Verdana, sans-serif;
@lightFont: 'Muli', Arial, Verdana, sans-serif;


/*FONT SIZES*/
@regularSize: 1.4rem;




/*MAIN COLORS*/
@blackColor:#000;
@whiteColor:#fff;

@orangeColor: #dc582a;
@purpleColor: #514689;
@greenColor:#c4d600;
@greyColor:#97999b;
@blueColor:#00afd7;
@darkGrey:#333;

@font-path: '../assets';
@img-gfx: "../gfx";


/*MEDIA QUERIES*/

@desktop-tv: ~"only screen and (min-width: 1920px)";
@desktop-large: ~"only screen and (min-width: 1680px)";

@desktop: ~"only screen and (min-width: 1366px)";

@desktop-max: ~"only screen and (max-width: 1365px)";
@laptop-max: ~"only screen and (max-width: 1279px)";

@laptop: ~"only screen and (max-width: 1366px)";

@desktop-normal:      ~"only screen and (max-width: 1280px)";
@desktop-small:      ~"only screen and (max-width: 1200px)";
@tablet-large:      ~"only screen and (max-width: 1025px)";

@desktop-height:  ~"screen and (min-width:1025px) and (max-height:600px)";

@tablet:      ~"only screen and (max-width: 1025px)";
@tablet-medium:      ~"only screen and (max-width: 992px)";
@tablet-small:      ~"only screen and (max-width: 768px)";
@mobile:      ~"only screen and (max-width: 641px)";
@mobile-small: ~"only screen and (max-width: 480px)";


@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }