// Video 

.video-pop,
.download-pop
 {
	.relative;
	.height(100%);

	.video-content {
		max-width:96rem;
		.width(90%);
		.margin-auto;

		.wireframe {
			.relative;
			padding-bottom:56.5%;

			iframe {
				height: 100%;
    			left: 0;
   				position: absolute;
    			top: 0;
    			width: 100%;
			}
		}

	}
}

.download-pop {
	.download-section {
		max-width:60rem;
		.width(90%);
		padding: 2% 5%;
		.margin-auto;
		background-color: @whiteColor;
		.download-head {
			.center-align;
			margin-bottom: 20px;
			span {
				.block;
			}
		}
	}
}
