  <footer class="grid-footer">
              
            </footer>





  <div class="left-content-scroll">
                <div class="panel-content">
                  <div class="panel-content-inside">
                    <figure class="logo-icon-panel">
                      <img class="img-responsive" src="gfx/purple-logo.png" alt="">
                    </figure>
                    <div class="content-panel-text">
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi tempora aliquam impedit commodi nihil fuga tenetur sed ea itaque eligendi, eos sit asperiores expedita repellat esse deserunt, in autem? Consequatur.</p>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi tempora aliquam impedit commodi nihil fuga tenetur sed ea itaque eligendi.</p>
                    </div>
                  </div>
                </div>
              </div>


 <footer class="page-footer">
              <div class="logos-footer-wrapper">
                <ul class="footer-logos-wrapper">
                  <li><img class="img-responsive" src="gfx/logo-contractors.png" alt="Contractors Logo"></li>
                  <li><img class="img-responsive" src="gfx/logo-iris.png" alt="Iris Logo"></li>
                  <li><img class="img-responsive" src="gfx/logo-acca.png" alt="Acca Logo"></li>
                  <li><img class="img-responsive" src="gfx/logo-passport.png" alt="Passport Logo"></li>
                  <li><img class="img-responsive" src="gfx/logo-free-agent.png" alt="Free Agent Logo"></li>
                  <li><img class="img-responsive" src="gfx/logo-bauer.png" alt="Bauer logo"></li>

                </ul>
                <ul class="copyright-footer">
                  <li>&copy; Copyright SPi Accountancy 2017</li>
                  <li><a href="#">Terms &amp; Conditions</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                  <li>Web Design by <a href="#">Peppermintsoda</a></li>
                </ul>
              </div>
              
        </footer>


         <figure class="logo-left">
                <img class="img-responsive" src="gfx/purple-logo.png" alt="">
              </figure>
              <h3 class="header-title-left purple-left">"I am a contractor"</h3>
              <div class="text-container">
                <p>Here at i-paye we have a dedicatedteam of experts who understand every
contrators individual situation. 
 and requirements.</p>
                <p>
                   We provide tailored solution, using simple understandable systems to help you get the most out of beinga contractor. 
                </p>
              </div>



        /*Left aside*/
.left-content-scroll {
    .width(98%);
    .margin-auto;
    max-width: 500px;
    padding: 30px;
    .center-align;
    .relative;
    overflow-y: scroll;
    .height(100%);

    @media @desktop-height {
        .bottom(0);
        .left(0);
        .z-index(800);
        min-height: 0;
        overflow-y: auto;
        padding: 30px 2% 160px 2%;
        .absolute;
        .right(0);
        .top(0);
    }

    .logo-left {
        margin: 0 auto 30px auto;
         .center-align;
        .width(65%);

        @media @desktop {
            .width(80%);
        }

        img {
           .center-align; 
            .margin-auto;
        }
    }

    .header-title-left {
        &.purple-left {
            color: @purpleColor;
        }

        &.orange-left {
            color: @orangeColor;
        }

        &.green-left {
            color: @greenColor;
        }

        margin-bottom: 20px;
        .font-bold(@boldFont, 2.6rem);

        @media @desktop-normal {
            .font-bold(@boldFont, 2.0rem);
        }

         @media @desktop {
            .font-bold(@boldFont, 3.0rem);
        }

        @media @desktop-large {
            .font-bold(@boldFont, 4.0rem);
        }
    }

    .text-container {
        max-width: 80%;
        .margin-auto;

          p {
            margin-bottom: 20px;

            @media @desktop-tv {
                font-size: 1.6rem;
            }

            @media @desktop-large {
                font-size: 1.6rem;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    
}