<div class="animation-wrapper">
                      <div class="ipaye-wrapper purple-bck">

                          <section class="content-section">
                            <div class="hero-text flex-wrapper">
                             
                                  <div class="main-block purple-content-left">

                                     <h1 class="slide-header">"I am contractor"</h1>
                                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin aliquam leo vitae arcu tempor, id vehicula nibh pellentesque. Sed nec posuere lacus, sed pharetra dui. Quisque laoreet est id volutpat maximus. Vivamus ante nibh, semper non enim in, ultrices consequat magna.  Nullam euismod consectetur quam ut bibendum. Vivamus nibh mauris, porttitor vel ornare eget, dapibus nec est. Praesent lacus risus, vulputate rutrum lacus ut, rhoncus volutpat arcu. Curabitur justo libero, molestie pulvinar eros egestas, rutrum rutrum ligula. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

                                     <a href="ipaye-grid.html" class="cta-btn white-btn slide-btn">
                                         Enter
                                     </a>

                                  </div>

                                  <div class="right-block purple-content-right">
                                    <div class="home-rotator clearfix owl-carousel">

                                       <div class="home-slide">
                                          <header class="header-home-slider">
                                              <h2 class="slide-header"><span>Working</span> <span>overseas?</span></h2>
                                              <h3 class="slide-subheader">(or thinking of)</h3>
                                          </header>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti sequi omnis eos esse. Repellat odit dolore, saepe necessitatibus iure obcaecati voluptatibus deleniti illum veniam explicabo sed quo consequuntur quod vitae.</p>
                                            <a href="#" class="cta-btn white-btn slide-btn">
                                                click here
                                            </a>
                                        </div>

                                        <div class="home-slide">
                                          <header class="header-home-slider">
                                              <h2 class="slide-header"><span>Working</span> <span>overseas?</span></h2>
                                              <h3 class="slide-subheader">(or thinking of)</h3>
                                          </header>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti sequi omnis eos esse. Repellat odit dolore, saepe necessitatibus iure obcaecati voluptatibus deleniti illum veniam explicabo sed quo consequuntur quod vitae.</p>
                                            <a href="#" class="cta-btn white-btn slide-btn">
                                                click here
                                            </a>
                                        </div>

                                    </div>
                                  </div>
                              
                            </div>
                          </section>

                          <div class="i-paye-wrapper-bck slide-purple-bck">

                            <div class="mask-section mask-purple"></div>
                            <canvas id="ipaye-bck"></canvas>
                          </div>
                      </div>

                    </div>



                    <div class="animation-wrapper">
                       <div class="ipaye-wrapper green-bck">

                        <section class="content-section">
                          <div class="hero-text flex-wrapper">
                            <div class="main-block green-content-left">
                              <h2 class="slide-header accountant-header">"I am accountant"</h2>

                               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin aliquam leo vitae arcu tempor, id vehicula nibh pellentesque. Sed nec posuere lacus, sed pharetra dui. Quisque laoreet est id volutpat maximus. Vivamus ante nibh, semper non enim in, ultrices consequat magna.  Nullam euismod consectetur quam ut bibendum. Vivamus nibh mauris, porttitor vel ornare eget, dapibus nec est. Praesent lacus risus, vulputate rutrum lacus ut, rhoncus volutpat arcu. Curabitur justo libero, molestie pulvinar eros egestas, rutrum rutrum ligula. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                               <a href="ipaye-grid.html" class="cta-btn white-btn slide-btn">
                                 Enter
                               </a>

                            </div>
                          </div>
                        </section>

                         <div class="i-paye-accountancy-wrapper-bck slide-green-bck">
                          <div class="mask-section mask-green"></div>
                          <canvas id="ipaye-bck-green"></canvas>
                        </div>

                       </div>
                     </div>


                      <div class="animation-wrapper">
                       <div class="ipaye-wrapper orange-bck">

                         <div class="spi-accountancy-wrapper-bck slide-orange-bck">
                          <div class="mask-section mask-orange"></div>
                          <canvas id="ipaye-bck-orange"></canvas>
                        </div>

                       </div>
                     </div>